[2020-04-24 06:52] stefanprodan opened #9 "receiver: support webhook"
Implement webhook receivers according to [specification](https://github.com/fluxcd/notification-controller/blob/master/docs/spec/v1alpha1/receiver.md).

[2020-07-07 05:51] #9 closed

[2020-07-10 08:50] medkbadri opened #13 "Post deployment trigger"
Hello,

First, I want to thank you for your contribution to the GitOps Ecosystem.
Just want to know, if we can use this operator in order to trigger post-deployment action.

For example, once a deployment is achieved by Flux, I want another deployment to take place.

Thanks in advance.

[2020-07-10 09:21] stefanprodan commented on #13
Yes, this is covered by https://github.com/fluxcd/kustomize-controller/blob/master/docs/spec/v1alpha1/kustomization.md#kustomization-dependencies

[2020-07-15 22:26] medkbadri commented on #13
Thank you, Stefan, for getting back to me
I started experimenting with the new gitops toolkit and I must admit that it's really cool!
I'm targeting the following use case:
- Deployment A: a new rollout update
- Workload B (Example: Tekton pipeline that will update an API GW once the Deployment A is rolled out )  (K8S manifests unchanged in Git)

I'm afraid customization dependencies won't suit thi

[2020-07-16 06:09] stefanprodan commented on #13
Yes, the image update controller is listed on our roadmap here https://toolkit.fluxcd.io/roadmap/#flux-image-update-feature-parity

[2020-07-24 03:47] worawatwijarn opened #24 "Support deployment on GKE version 1.15.x"
Do you plan to support deployment on GKE version 1.15.x?
How can I deploy to GKE version 1.15.x
Thank you

[2020-07-24 07:33] stefanprodan commented on #24
The toolkit APIs depend on the Kubernetes API Extensions v1 that got shipped in Kubernetes 1.16. This makes 1.16 the minimum support version.

[2020-07-24 07:33] #24 closed

[2020-07-29 20:20] phillebaba opened #26 "Github Notifier"
The Github Notifier given an event containing revision metadata it updates the commit status in a Github repository.

The notifier would be configured in a similar manner as the other notifiers. With some small differences. The address given in the provider would have be the address of the Github repository. Aditionally the provider requires a secret ref to be given the personal access token to co

[2020-09-01 07:47] stefanprodan commented on #26
Fixed in #27

[2020-09-01 07:47] #26 closed

[2020-09-11 08:26] stefanprodan opened #40 "GitLab commit status notifier"
Similar to [GitHub](https://github.com/fluxcd/notification-controller/pull/27), we could implement commit status updates for GitLab.

[2020-09-11 08:50] phillebaba commented on #40
I can implement this as I have done something similar already in flux-status.

[2020-09-13 19:56] phillebaba opened #44 "Alert EventSeverity has no default value"
The documentation states that if EventSeverity is not set it will default to `info`. I cannot find any code that sets the default value.

[code]

Additionally the check for EventSeverity has an undocumented behavior. As I understand it an Alert will be sent either if the EventSeverity of the event matches the alert. Or if the Alert severity is of type `info`. If this is the intended behavior it sh

[2020-09-14 10:04] stefanprodan commented on #44
We need to set the default in code and document that the `info` filter includes errors.

[2020-09-14 11:31] phillebaba opened #45 "Filter events sent by different types of notifiers"
The kustomization controller limits the amount of events sent to the notification controller, to limit the amount of message sent by the chat notifiers (Slack, MS Teams, etc.). If this was not done the messages would be very verbose, as events would be sent every reconcile loop, even when nothing has changes.

On the other hand the git notifiers need to receive succeeded events if a deployment goe

[2020-09-14 11:36] phillebaba commented on #44
We should probably start using [annotations](https://book.kubebuilder.io/reference/markers/crd-validation.html) to set default values.
[code]

Have a quick look through the CRDs while I am at it, to see if we are missing any other default values.

[2020-09-14 11:47] stefanprodan commented on #45
We could solve this with:
- make commit status ignore events with reason `Progressing`
- issue events from kustomize-controller after each successful reconciliation with metadata `commit_status: "update"`
- make alerts ignore successful events with metadata `commit_status: "update"` if type is Slack/Teams/etc

[2020-09-14 11:49] stefanprodan commented on #44
Defaults are not supported by all Kubernetes versions, we should handle this in code.

[2020-09-14 12:04] phillebaba commented on #44
How long will it be until we start using CRD v1 features? 1.16 is the earliest version that supports them. Currently EKS and AKS are at 1.17 as their latest version. Do we have a minimum version that we are targeting?

[2020-09-15 05:25] stefanprodan commented on #44
@phillebaba we are using CRD v1 and the minimum Kubernetes version is 1.16. If the default work on 1.16 we could use it for sure.

[2020-09-19 12:33] #40 closed

[2020-09-19 12:33] #44 closed

[2020-09-19 12:33] #45 closed

[2020-10-16 15:05] dbluxo opened #61 "Add http(s) proxy support"
To send notifications behind a proxy, we would need the ability to configure a http(s) proxy.

[code]

[2020-10-19 10:09] #61 closed

[2020-10-21 12:53] phillebaba opened #65 "Add status support for Bitbucket"
We should support Bitbucket in the same way that we support GitHub and GitLab.

[ktrysmt/go-bitbucket](https://github.com/ktrysmt/go-bitbucket) is probably the best option for a client to use with Bitbucket.

[2020-11-03 10:19] anders-olofsson opened #71 "Add possibility to configure wildcard namespace value in Alert eventSources"
It would be nice to pick up all error events within a cluster using a wildcard namespace value in the eventSources section of an Alert  - similar to how it works for name:
https://github.com/fluxcd/notification-controller/blob/fbf1ea0413e12fe58e6386972468a152c42b215c/internal/server/event_handlers.go#L77

Currently you'll either need to duplicate Provider (including any secrets) and Alert resource

[2020-11-03 10:39] phillebaba commented on #71
I dont see any issue implementing this, as it would just be a catch all for all events in all namespaces. Or events from a specific resource kind in all namespaces. As we already allow event sources from multiple namespaces it would just act as a helper to avoid having to type out each namespace. One thing to keep in mind is that there would probably be a lot of events generated from doing this.

[2020-11-03 10:58] stefanprodan commented on #71
This would break multi-tenancy, imagine a tenant will create a "global" alert in their namespace and it will receive events with sensitive information about all the other tenants. I find this unacceptable, imagine if AWS would allow anyone to route all events from Cloudwatch no matter the account.

[2020-11-03 12:06] phillebaba commented on #71
I have also been thinking about that. In theory it would be possible if we were able to limit the event sources to the permissions the service account that is assumed has. We can obviously not allow anyone to export all events in the cluster.

[2020-11-06 17:55] edef1c opened #72 "leaving channel unset silently breaks Slack provider"
The `channel` field is marked optional, and leaving it out passes validation.
I would expect this to implicitly use the default channel of the webhook.
Checking the status of the `Provider` and `Alert` resources reveals nothing, and the notification controller appears healthy.
[code]

The error is only visible after checking the logs of the notification controller service itself:
[code]

[2020-11-07 22:29] phillebaba commented on #72
So this can be considered either a documentation or validation issue.

The thing is that only some provider types require that channel to be set, and will fail if it is left empty. While other provider types do not.

Either way the errors needs to be made available in a more prominent location other than the logs. One option may be to expose the initialization errors as events in the provider reso

[2020-11-08 07:41] stefanprodan commented on #72
I think all providers should have a validation func that could be called inside the controller reconciliation. If the validation fails, the ready status should be set to false with the validation error as the message.

[2020-11-08 10:52] #65 closed

[2020-11-09 13:22] #72 closed

[2020-11-09 14:16] sylr opened #76 "Notifications of errors and recoveries"
It would be nice if we could have a setting which would allow to be notified when:

- an error occurs after previous apply was successful.
- an apply is successful after previous one was in error.

This would limit notification traffic to what's really important.

Regards.

[2020-11-11 16:20] anders-olofsson commented on #71
Not sure if it helps, but it'd be fine if it was only allowed for alerts defined in the flux-system namespace.

[2020-11-17 07:53] sylr opened #81 "Error notifications contain too much not error data"
Hi 👋 ,

I believe that error messages are too verbose and should focus more on the actual error, e.g. (taken from a slack notification):

[code]

The only relevant information (according to me) is the last line, all the `unchanged` lines are noise that make the real error less visible (keep in mind that slack for example only display the first 2 lines by default).

Regards.

[2020-11-18 20:05] phillebaba commented on #76
This would require notification-controller to be aware of previous events unless the Kustomization or Helm controller can do this. Either way I do not think it is a good idea for the notification controller to track state of different events. I do however think it would be feasible to implement this in the one of the other controllers so that they send events when a resource recovers.

[2020-12-01 00:56] invke commented on #81
I am just setting this up the notifications controller in a medium-sized cluster now and noticed this also. [Slack also truncates messages at 100,000 characters](https://api.slack.com/changelog/2018-04-truncating-really-long-messages), so if there are enough resources in the cluster, the error data (the most useful part) gets chopped off the end.

Let me know if you want me to create another issue

[2020-12-01 13:51] phillebaba commented on #81
This is a two part issue. One is that it is not possible to limit the message size in the notification controller, something that we could explore to see if it is feasible. It would mean however that the message would be cut off at some random place where it exceeds the limit.

If you want to have a "smarter" message you would need to change the event message sent by kustomize-controller so that i

[2020-12-01 20:04] invke commented on #81
@phillebaba, totally agree. I've made an [issue on the kustomize-controller](https://github.com/fluxcd/kustomize-controller/issues/190) around being able to configure the verbosity of events.

[2020-12-02 12:18] hiddeco commented on #81
Had a chat about this with @stefanprodan a couple of weeks ago, but did not take any notes.

From what I recall, my idea at the time was to provide the "full changelog" as metadata to the notification-controller, and emit a summary of changes as a Kubernetes event and/or short notification message to other platforms.

[2020-12-02 13:59] phillebaba opened #92 "GitHub notifier spams commit status"
It seems like the GitHub api takes every commit status as a new update causing a huge amount of commit statuses per commit, if the reconciliation interval is short. Other providers either overwrites the previous commit status or does nothing if the status is not updated. We should add a check to the GitHub notifier so that it only sends a commit status if the state or message has changed from the

[2020-12-02 15:44] phillebaba commented on #92
@stefanprodan any thoughts? I am currently working on a fix for this issue.

[2020-12-02 19:42] phillebaba commented on #81
So do you think that the truncating of the message should be done in the notification-controller instead of the event source? I guess its possible as long as the data received is in a structured format.

[2020-12-04 08:37] DalianisDim opened #94 "Allow a custom field to be set on Alert"
We use Flux2 on 3 separate Kubernetes clusters. All of them monitor the same BitBucket repo for changes and deploy the appropriate apps based on `GitRepository` & `Kustomization` settings. There is also a Slack channel where we feed alerts into, coming from all three clusters.

Since all clusters are sending multiple alerts (we are currently at `info` alert level) there is no way to distinguish wh

[2020-12-04 11:12] #92 closed

[2020-12-04 16:21] Nonymus opened #95 "Receivers not covered by --watch-all-namespaces"
While setting up a multi-tenant testbed, I fail to create a webhook to sync the tenant's GitRepository in the tenant's namespace. Receiver for the flux-system namespace works fine.

Looking at https://github.com/fluxcd/notification-controller/blob/a7e3be032e0fa3dbf52425d65c00232b85bc4fe7/internal/server/receiver_handlers.go#L46 , it seems like notification-controller will only react on Receivers i

[2020-12-07 08:57] #95 closed

[2020-12-07 08:57] #94 closed

[2020-12-07 11:47] bigkevmcd opened #99 "Allow signing of generic webhook provider requests"
The HTTP endpoint should be able to ensure the provenance of incoming requests from the `generic` provider.

GitHub and GitLab use a shared-secret mechanism, where the outgoing requests have a header with an HMAC of the request body, the receiver can then sign the body it receives, and confirm the origin of the request.

_This should be optional_.

One proposal, is to add an additional signature f

[2020-12-07 13:07] stefanprodan commented on #99
I would implement it as GitHub https://developer.github.com/webhooks/securing/

Header: `X-Signature`
Algorithm  : `HMAC/SHA1`

[2020-12-07 16:35] hiddeco commented on #81
No, I think the broadcaster should send two messages to the notification-controller.

1. The summarized / truncated message, that is also broadcasted as a Kubernetes event.
2. The enriched / full message, using a new field in our own `Event` type: https://github.com/fluxcd/pkg/blob/main/runtime/events/event.go#L33

[2020-12-14 15:05] haraldatbmw opened #103 "Webhook for Bitbucket server causes error with unsupported Content-Type"
I'm trying to trigger the notification-controller with a Bitbucket POST webhook.
My Bitbucket server sends a HTTP request with the header `Content-type: application/json; charset=utf-8`.
The flux notification-controller fails with this error:

[code]

[code]

[2020-12-14 15:09] stefanprodan commented on #103
What Bitbucket is that? on-prem or SaaS?

[2020-12-14 15:13] haraldatbmw commented on #103
Atlassian Bitbucket v6.10.0, on-prem

[2020-12-14 15:16] stefanprodan commented on #103
You need to use the generic type, for some reason Atlassian Bitbucket SaaS is not compatible with the on-prem version 🤦

[2020-12-14 15:28] haraldatbmw commented on #103
Okay, changed it to generic. And now it work. Thanks!

[2020-12-14 15:28] #103 closed

[2021-01-03 23:54] Niksko commented on #71
I think this is the best solution to avoid multi-tenancy issues.

That said, I think the issue around multi-tenancy is a cluster policy issue rather than something that needs to be solved by this project. It's up to the cluster administrator to set policy on who can create `Alert` resources, and whether they can create them with a namespace of `*`.

Perhaps as a stopgap, the ability to have `*` fo

[2021-01-06 15:58] tobbbles opened #106 "GitHub Alert fails with "missing revision metadata" on GitRepository eventsource"
I have configured a minimal notification Provider and Alert for GitHub, however the event is being dropped from the notification-controller with the following error `missing revision metadata`, the full details are below.

I would expect the event to be fired and handled correctly. Is there any more I can do to help debug here?

#### Flux Component versions
[code]

#### Error Log:
[code]

#### Man

[2021-01-06 16:00] tobbbles commented on #106
Some additional details, other Alerts with `Kustomization` as the eventSource are working fine in my setup

[2021-01-06 16:03] stefanprodan commented on #106
Commit status updates are supported for `Kustomization` type only, we should update the docs...

[2021-01-12 22:26] phillebaba commented on #106
Docs have been updated in fluxcd/flux2#668 with a not about supported sources, so I will close this issue.

[2021-01-12 22:26] #106 closed

[2021-01-15 08:49] stefanprodan opened #114 "Quay webhook receiver"
Should be similar to DockerHub: #112

[2021-01-15 08:50] stefanprodan opened #115 "Nexus webhook receiver"
Implement Nexus using `X-Nexus-Webhook-Signature` ref: https://github.com/fluxcd/flux-recv/blob/master/nexus.go

[2021-01-15 08:53] stefanprodan opened #116 "GCR webhook receviers"
Ref: https://github.com/fluxcd/flux-recv/blob/master/gcr.go

[2021-01-15 08:55] stefanprodan opened #117 "ACR webhook receiver"
Doc ref: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook

[2021-01-15 09:07] SomtochiAma commented on #114
I am picking up this issue.

[2021-01-15 09:07] SomtochiAma commented on #115
I am picking up this issue.

[2021-01-15 09:07] SomtochiAma commented on #117
I am picking up this issue.

[2021-01-15 09:10] SomtochiAma commented on #116
I am picking up this issue.

[2021-01-15 13:06] #114 closed

[2021-01-18 07:53] Kube-ASY opened #120 "Adding object kind to notifications"
In some notification providers like Teams it is not always clear from which object type the notifications origin.

In Slack the originating controller is used as a username of the message, but in Teams the username is set by the webhook configuration.

Would it be possible to add the Kind of the causing object to the objName that is part of the message.
E.g. as pre-/ or postfix like
`<Kind>/<name>

[2021-01-18 13:25] #116 closed

[2021-01-19 11:42] stefanprodan commented on #120
@SomtochiAma please implement `<Kind>/<name>.<namespace>`.

[2021-01-19 14:11] ambis opened #125 "Spesifying notification Provider's namespace in an alert"
Running 0.6.1

Regarding this section:
https://github.com/fluxcd/notification-controller/blob/main/config/crd/bases/notification.toolkit.fluxcd.io_alerts.yaml#L92

It only allows you to specify the name of the alert Provider, in my case discord. But it does not allow to reference it form another namespace (monitoring in this case).

The intent I believe, in a single tenant cluster, is to have only

[2021-01-20 08:34] stefanprodan commented on #81
Error notifications coming from kustomize-controller contain now only the apply errors.

[2021-01-20 08:34] #81 closed

[2021-01-20 16:54] stefanprodan commented on #115
Implemented in https://github.com/fluxcd/notification-controller/pull/126

[2021-01-20 16:54] #115 closed

[2021-01-21 12:11] bigkevmcd commented on #99
I'm not sure that PR fixes the issue, that is only about receiving webhooks, not signing outgoing hooks.

[2021-01-21 12:11] bigkevmcd commented on #99
I've got a branch that I would need to tidy up the last bit of that would solve the signing part...

[2021-01-21 12:30] stefanprodan commented on #99
@bigkevmcd you're right, that PR solves ingress not egress. We can reopen.

[2021-01-27 00:19] gdoctor opened #133 "Add Webex as an Alert Provider"
I am happy to implement this myself based off the existing providers and open a PR if members of this community are okay with that.

[2021-01-27 07:28] stefanprodan commented on #133
I thought Webex is like Zoom, video meetings only. Does it have chat channels like Slack?

[2021-01-27 17:17] gdoctor commented on #133
Webex has a full chat client component that was called Webex Teams up until recently. I think they just brought it into the Webex suite and now it is being branded as Webex for messaging; it is essentially a chat client similar to Slack. For reference: https://www.webex.com/team-collaboration.html

[2021-02-01 21:59] phillebaba commented on #133
The only issue I see with implementing this feature would be testing and debugging issues.

[2021-02-05 14:32] vflaux opened #134 "Infinite loop when Receiver secret is invalid"
If you add a Receiver that reference either:
- no secret
- a secret that doesn't exist
- a secret without the `token` field

Then the notification-controller enter in an infinite reconciliation loop.

### manifest.yaml:
[code]

### logs:
[code]
[code]

[2021-02-05 14:41] vflaux opened #135 "Generic receiver shoudn't requires a SecretRef"
The notification-controller looks for a secret even when the receiver type is "generic".

According to the documentation:
[code]
Is their actually a need for a token in this case ?

Shouldn't the `SecretRef` field be optional ?

[2021-02-05 14:44] stefanprodan commented on #135
We use the token as seed for generating a unique webhook URL, so no, it can't be optional.

[2021-02-08 11:51] stefanprodan opened #137 "Exclude messages from alerting"
In some cases it is desirable to not send alerts if the message body matches some string e.g. https://github.com/fluxcd/flux2/issues/760

[2021-02-08 15:49] #137 closed

[2021-02-10 17:15] gdoctor commented on #133
I understand your concerns, but Webex has free tier accounts that should have complete access to the messaging components just like MSTeams. I am happy to implement and test and attach all pertinent screenshots.

[2021-02-19 14:25] raffis commented on #76
This needs to be fixed somewhere, either having the notification controller stateful or all other controllers only sending events in some circumstances. Also see https://github.com/fluxcd/kustomize-controller/issues/203 where I reported this issue as well.

[2021-02-19 14:32] jordivilaseca opened #142 "ExclusionList not working"
I was trying to use this new feature to filter out some events that I don't want to be notified. After some time trying to remove really simple messges I checked the code and I think I saw a bug in the implementation.

I would say the problem is [here](https://github.com/fluxcd/notification-controller/blob/main/internal/server/event_handlers.go#L82). Continue instructions could be tricky, they con

[2021-02-19 15:01] squaremo commented on #142
That diagnosis is spot on -- thank you.

[2021-02-23 11:18] #142 closed

[2021-02-26 00:00] gdoctor commented on #133
I added support for Webex on my end, and I am using the image for my `notification-controller` deployment currently. Before I open a PR here. I want to make sure the flux developers are okay with the content of the message and formatting of it. I initially wanted to use an Adaptive Card like the MSTeams integration, but Webex does not support Adaptive Cards via the Incoming Webhook integration yet

[2021-02-26 00:07] gdoctor commented on #133
This is what the full json looks like. The user scrolls to the right to see the rest of the message.

<img width="1169" alt="Screen Shot 2021-02-25 at 4 06 08 PM" src="https://user-images.githubusercontent.com/5168204/109235944-832b3480-7783-11eb-8646-4b221ef2f3b4.png">

[2021-03-01 07:07] phillebaba commented on #133
Just so that I understand the screenshots correctly, will the user see the formatted text or the JSON? I think that even if Webex is not totally identical to the other providers it should use the same format in the messages.

[2021-03-01 19:42] gdoctor commented on #133
Sorry my messages were not clear. I provided 2 separate options for what the user could see. The first one is a format that I thought would be good. The second is what the user would see if I instead sent json. I prefer the first option.

[2021-03-01 19:43] gdoctor commented on #133
<img width="1140" alt="Screen Shot 2021-03-01 at 11 41 08 AM" src="https://user-images.githubusercontent.com/5168204/109549778-457c2380-7a83-11eb-8e08-c5edf26da489.png">
This screenshot is an updated version of the first option that also includes the metadata, which other providers were supplying.

[2021-03-01 20:11] phillebaba commented on #133
Considering the limitations of webex I think this formatting should be fine. Go ahead and create a PR and I will review it. Thanks for the hard work :muscle:

[2021-03-02 13:10] #135 closed

[2021-03-02 13:22] stefanprodan opened #150 "Annotate with the controller-runtime unstructured client"
We should drop the dependencies to the GitOps Toolkit API packages and use the controller-runtime [unstructured client](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/unstructured_client.go) to [annotate](https://github.com/fluxcd/notification-controller/blob/main/internal/server/receiver_handlers.go#L342) the GitOps Toolkit objects.

[2021-03-02 14:03] SomtochiAma commented on #150
I am picking up this issue.

[2021-03-04 08:02] #150 closed

[2021-03-07 07:58] #117 closed

[2021-03-14 21:55] phillebaba commented on #125
Is this something that we should consider implementing? It will break existing multi tenant setups if we switch over to allowing cross namespace references.

[2021-03-16 03:30] nomeelnoj opened #158 "HelmRelease errors spam slack"
In setting up an alert to send to slack for `HelmRelease` objects at `error` level, it sends a ton of messages.  Here is a simple HelmRelease I applied, with an alert defined for `error`:

[code]
This chart has a required value, so I knew this would trigger an error.  However, slack sent 22 messages within 3 seconds or so, all nearly identical.  We got 11 identical notifications for `Helm install

[2021-03-16 10:02] phillebaba commented on #158
Notification controller does not determine how many messages to send, it only relays the events it receives from Helm controller. Currently NC does not keep any state of the amount of events sent. My guess is that the reason events are spammed is due to HC retrying to reconcile immediately. I will have to recreate this issue first to determine if the issue is in NC or HC.

[2021-03-16 10:08] stefanprodan commented on #158
@phillebaba all controllers use controller-runtime retry with backoff when a reconciliation fails. I think we could address this issue by using a rate limit solution like https://github.com/sethvargo/go-limiter. We could create a middleware that extract the message and the involved object from the request body, does a checksum used as the rate limiter key and returns StatusTooManyRequests if the c

[2021-03-16 10:31] phillebaba commented on #158
Sounds like a good idea, it would resolve any future issue with bugs or unintended spamming. I will assign this to me and implement a rate limiter. What is the most reasonable way to configure it, in the Alert as suggested by @nomeelnoj or in the provider. Adding rate limits in the alert would allow for fine grained control but would require users to add it to all their alerts. While the provider

[2021-03-16 16:12] sairamvoggu1007 opened #161 "Enterprise github repo: not generating events and unable to write commit status to github"
Team,
version using : flux2 v0.8.0
events are not generating and unable to write commit status to github about the deployment

Following is error noticing in notification controller log.. It was supposed to fetch from my github domain but it's trying to fetch from api.github.com please check following error
 **```

{"level":"error","ts":"2021-03-12T18:40:29.577Z","logger":"event-server","msg":"fai

[2021-03-16 18:03] simongottschlag opened #160 "Redact tokens from logs"
It would be nice if we could redact tokens from logs.

[2021-03-16 22:13] phillebaba commented on #161
I moved this issue to the NC so you do not need to create a new issue @sairamvoggu1007

[2021-03-16 22:18] sairamvoggu1007 commented on #161
Yes, please let me know once this is done I can test it.. currently we are on flux2 version0.8.0 @phillebaba

[2021-03-16 22:20] phillebaba commented on #160
Are tokens included in all logs or just ones where they are included in the errors returned by the client?

[2021-03-16 22:28] simongottschlag commented on #160
I've seen it with the GitHub client when it errors

[2021-03-16 22:39] simongottschlag commented on #161
Thank you @phillebaba for looking at it 😊🙏

[2021-03-16 22:39] phillebaba commented on #161
@sairamvoggu1007 I created a draft PR to track any issues.
https://github.com/fluxcd/notification-controller/pull/162

Just checkout the branch and build+push the image to some image registry. Then replace the image used for notification-controller in your "fleet-infra" repository. I do not know if there are any major CRD changes between 0.8 and 0.9 that would complicate testing this, try and see

[2021-03-17 03:58] sairamvoggu1007 commented on #161
I will test it and let you know once it's done. thanks for the prompt response

[2021-03-17 10:58] fgunited opened #163 "Different alerts mix up summary"
### Issue description

I've created different alerts, listening to GitRepository and HelmRelease.
They have the same eventSources, the same exclusionList, but different summaries and different providers.
The notifications created by these alert-events will be pushed as expected to the different providers.

**Not working as expected**: But the summary seems to be mixed up.

Using Notification-Contr

[2021-03-17 12:41] nomeelnoj commented on #158
This might be unrelated and impossible with the current implementation, but if the middleware will become "event aware", is there anyway to send a resolution event if the alert is resolved? For example, if the NC is set up at the same time as the image repos but the ECR creds have not been created yet, the NC will fire a bunch of alerts until the user creates those creds the first time. Would be r

[2021-03-17 13:01] #134 closed

[2021-03-17 13:05] phillebaba commented on #158
That may be a bit more complicated as the rate limiting will be done in memory. So deleting the NC pod will cause the rate limit to reset. I understand your point, and it would work similar to how alert manager works today. I don't really see how we would implement this without some sort of persistence of the alerts previously sent.

[2021-03-17 17:55] sairamvoggu1007 commented on #161
@phillebaba we just built the image. I just need to replace the following image with the image I built right to test the changes?
[code]

[2021-03-17 19:24] phillebaba commented on #161
Yep that is the one :)

[2021-03-17 20:30] sairamvoggu1007 commented on #161
@phillebaba unfortunately we don't have any environment open for testing so we can't test this from our side. Could you please let us know once this version is released. thanks

[2021-03-17 21:29] phillebaba commented on #161
I cant really in good faith submit a PR and release something which I do not know works. You do not need a full cluster to test this, it would work if you install flux on a kind cluster locally on your computer which pulls from your GitHub instance. Could you do that?

[2021-03-19 06:00] Eadinator opened #165 "Certain types of notification not sent"
Flux version: 0.10.0
Provider: googlechat

Notifications for resources marked for deletion/deleted are sent to Google chat.
Notifications for resources created and health check notifications (as in https://toolkit.fluxcd.io/_files/slack-info-alert.png) are logged as dispatched by notification-controller but do not get sent to Google chat.

I think after a look at the code, this is because these ev

[2021-03-19 08:44] stefanprodan commented on #163
@SomtochiAma could you please look into this?

[2021-03-21 10:56] #161 closed

[2021-03-22 08:51] #163 closed

[2021-03-22 13:58] SomtochiAma commented on #165
Taking a look at this issue.

[2021-03-25 12:23] #133 closed

[2021-03-25 12:24] #165 closed

[2021-03-25 22:50] LWJ opened #172 "Add Sentry as a Provider"
We'd like to push reconciliation events to [sentry](https://sentry.io/). I've already done some investigation and started implementing using the [sentry-go](https://github.com/getsentry/sentry-go) library. Happy to make a PR and push my changes upstream if other members would find this integration useful.

[2021-03-26 06:10] bergemalm opened #173 "bitbucket max key length"
Hi,

Bitbucket api has a max key value length of 40 characters. Currently the value of the key for notification sent to bitbucket is the object kind and name separated by slash i.e `kustomization/service-foo`. If you happen to have long service names and/or combinations with namespace names because of multiple environments sharing the same config repo (`kustomization/namespace-foo-and-service-bar`

[2021-03-26 08:59] stefanprodan commented on #172
I see that sentry-go is a well maintained package, I'm ok with having Sentry support in Flux. We need to determine what extra fields the Provider needs, I'm not a Sentry user and I can't tell.

 @LWJ  could write here a proposal of how the Provider should look? Thanks

[2021-03-26 09:26] #173 closed

[2021-03-26 10:41] LWJ commented on #172
Hi @stefanprodan, thanks for the response. I can give a brief overview:

Sentry uses something called a [DSN](https://docs.sentry.io/product/sentry-basics/dsn-explainer/) that gets passed to the SDK to inform it where to send events to. This is just a URL provided by Sentry with the following format:

`{PROTOCOL}://{PUBLIC_KEY}:{SECRET_KEY}@{HOST}{PATH}/{PROJECT_ID}`

Sentry users should already b

[2021-03-26 10:45] stefanprodan commented on #172
@LWJ this looks great, I wasn't aware that DSN is just a URL, it fits perfectly with what we have in our API.

I'll assign this issue to you, looking forward to your PR, thanks again.

[2021-03-29 07:20] #172 closed

[2021-03-30 11:50] pierluigilenoci opened #178 "Notification controller does not start on clusters with active PSPs (runAsNonRoot)"
There isn't much more to add.

[code]

[2021-03-30 12:10] stefanprodan commented on #178
Create a PSP that allows the flux controller to run or patch them and hardcode some user id.

[2021-03-30 12:10] #178 closed

[2021-03-30 12:40] pierluigilenoci commented on #178
@stefanprodan why you closed the ticket?

Isn't the right thing to do to add a security context here:
https://github.com/fluxcd/notification-controller/blob/main/config/manager/deployment.yaml#L22-L65

Something like:
[code]

[2021-03-30 12:48] stefanprodan commented on #178
Please see: https://github.com/fluxcd/flux2/issues/829

[2021-03-30 13:08] pierluigilenoci commented on #178
@stefanprodan according to sig-auth [1][2], a new implementation of PSP is on the way and will be backward compatible with old policies unless there are a few minor tweaks.
So I think calling PSP dead is a bit premature to me.

Ref:
[1] youtube.com/watch?v=YSzphARKjKs&t=2340s
[2] kubernetes/enhancements#5 (comment)

[2021-03-31 12:48] stefanprodan opened #179 "Add Prometheus instrumentation to the HTTP servers"
We could create a middleware that instruments the events and the webhook receiver servers, this way users can track how many requests have been processed, the number of failures, rate limits, etc.

[2021-04-01 09:56] phillebaba opened #180 "Add rate limiter for receiver"
Exposing the receiver to the internet may result in an accidental dos of the api server, either through a bug in the other end making a request to the receiver or a bad actor figuring out the receiver endpoint.

The rate limiter is implemented in the events server in #167 but was not implemented for the receiver. The reason for this was because there is a high risk that too many requests would be

[2021-04-01 09:57] #158 closed

[2021-04-01 09:57] #179 closed

[2021-04-08 15:39] phillebaba commented on #180
So Github includes the sha of the commit as a payload in the webook for push events.
https://docs.github.com/en/developers/webhooks-and-events/webhook-events-and-payloads#push

Hopefully other providers do the same and we could be able to parse the different git provider payloads to rate limit. It would still break the receiver for other sources calling it however. What do you think about doing it

[2021-04-14 20:16] coultenholt opened #183 "Self Signed Cert on Github Provider"
## Description
No option to specify TLS CA self signed cert in Provider Spec.

### Details
We run a GitHub enterprise server that has a self signed CA cert attached to it. When trying to set up git commit status, the notification controller gets the below error.

[code]

Maybe a solution similar to the [ImageRepository](https://toolkit.fluxcd.io/components/image/imagerepositories/) CRD can be impl

[2021-04-14 20:53] phillebaba commented on #183
I think the easiest way is to pass the CA in the Secret which contains the token, the issue here is that we would have to go back and implement support for all notifiers where applicable as it would be very confusing otherwise. Looking at the GitHub provider I see no issue adding an optional custom transport.

@stefanprodan any opinions?

[2021-04-14 20:56] phillebaba commented on #183
After thinking about this for another second I realize that adding a `CertSecretRef` field to the provider would be better than reading it from the token secret.

[2021-04-14 22:10] phillebaba commented on #183
@coultenholt I do not have access to a GitHub enterprise deployment, so could you have a look at the PR #184 and try it out to see if it solves your issue?

[2021-04-15 18:05] coultenholt commented on #183
Will test just as soon as the [Docker Issue](https://status.docker.com/pages/history/533c6539221ae15e3f000031) is resolved.. :) Thanks for the quick turnaround!

[2021-04-15 18:54] coultenholt commented on #183
@phillebaba Your PR worked for me! Would love to get this merged in and released! Thank you!

[2021-04-15 19:00] phillebaba commented on #183
Great to hear that! I just need to write some tests and fix some smaller issues and we should be good to go.

[2021-04-20 06:18] lloydchang commented on #180
@phillebaba @stefanprodan Is this rate limiter required?

Risk mitigation for DOS can be addressed by the ingress' rate limiting, such as https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#rate-limiting

My understanding is the applications listed at https://toolkit.fluxcd.io/components/notification/controller/ have different webhook formats.  You wouldn't find

[2021-04-20 08:07] bigkevmcd commented on #180
@phillebaba I'd agree with @lloydchang relying on the payload signing to filter out DOS/rate-limiting is not a great idea, you need to load (and possibly cache) the shared-secret, then to read the entire body, and validate the signature.

I think it's better done at the ingress, but for accidental cases, require authentication, and then rate-limit the token is probably better.

[2021-04-20 08:13] stefanprodan commented on #180
I'm ok with dropping this, indeed people should use an ingress and not expose the receiver with an L4 LB. We should update the docs [here](https://toolkit.fluxcd.io/guides/webhook-receivers/#expose-the-webhook-receiver) and tell users to use ingress for production setups.

[2021-04-20 09:43] phillebaba commented on #180
I am fine with closing this issue, I created it to track the remaining work after we decided to drop it from the initial rate limiting feature. @lloydchang I do agree that having to support all possible combinations webhook formats would be cumbersome, so it is better if the end user deals with this for their specific use case. Lets update the docs and close this when that is done.

[2021-04-21 11:19] gerardgorrion opened #185 "Git commit status into dev deploy"
### Describe the bug

We want to upgrade our flux to flux v2 deployed into multiple clusters, all point same bitbucket repo. Seem like bootstrap using a git bitbucket repo is no ready yet.

Flux v1 tag the commit of the repo that are using. We are looking for similar function into flux v2, but only find the commit status solution to do similar function.

To deploy flux we are using dev mode, but w

[2021-04-21 11:24] #183 closed

[2021-04-24 12:02] raima-zachariah opened #188 "[Security] Potential Secret Leak"
It has been noticed that while using fossa-contrib/fossa-action@v1 your fossa-api-key 5ee8bf422db1471e0bcf2bcb289185de is present in plaintext. Please ensure that secrets are encrypted or not passed as plain text in github workflows.

[2021-04-24 14:03] #188 closed

[2021-04-26 08:01] benke33 opened #189 "mTLS support for self-hosted gitlab behind cloudfare firewall"
# Unable to access Gitlab API behind cloudfare firewall.

We have a self-hosted Gitlab running behind a cloudfare firewall that requires mTLS to be accessed.
Currently there's no way to specifiy certificates to be used for mTLS.
We have the option in the `Provider` to specify a `caFile`, `certFile` and `keyFile`, but only the `caFile` seems to be implemented to support self-signed certificates.

#

[2021-04-26 08:59] pierluigilenoci commented on #178
FYI https://github.com/kubernetes/enhancements/pull/2582

[2021-05-03 08:20] simongottschlag opened #190 "Azure EventHub integration"
We are building an integration for the notification-controller to work with Azure EventHub: https://azure.microsoft.com/en-us/services/event-hubs/

[2021-05-04 09:25] SomtochiAma commented on #185
Hey @gerardgorrion , What permissions did you give your app password?

[2021-05-04 11:43] gerardgorrion commented on #185
Hi @SomtochiAma , thanks for your answer. We will try with cli to check if this is the error.

Regards,

[2021-05-05 18:33] Diaoul opened #192 "Error notifications despite the resource being successfully reconciled"
*This issue was first opened at https://github.com/fluxcd/flux/issues/3480*

**Describe the bug**

Flux sends out error level notifications despite the resource being successfully reconciled.
This is the discord notification I received, in that order:
[code]
[code]
[code]
And when I checked later:
[code]

All of this happened in a 2 minutes time window between the start of the reconciliation and t

[2021-05-06 07:40] #190 closed

[2021-05-06 07:41] phillebaba commented on #189
Right now the feature is limited to only the caFile, but I can look at expanding it to allow for client cert authentication.

[2021-05-06 08:28] #180 closed

[2021-05-06 08:55] gmaiztegi opened #194 "Adding cluster name (or something else) to Github commit status context"
We run a few clusters with Flux and are moving towards Flux 2 now, and so far the experience is being awesome.

We have seen an issue in this notification controller, and it's that when having multiple clusters posting the commit status for the same resource names (such as `kustomization/flux-system`), the statuses get overwritten, as they use the `<resource type>/<name>` as context.

Therefore, i

[2021-05-06 09:12] phillebaba commented on #160
So the error seems to come from net/http, which adds the token to the error message which is then logged. This occurs when the header value is malformed, like adding a trailing new line to the token. This seems to happen a lot as some OS seems to add one by default when base64 encoding a value. Even if this is an error caused by net/http it should be considered a bug here as we should protect end

[2021-05-06 09:18] stefanprodan commented on #160
Maybe we should remove the new lines before setting the headers and log an error that the secret values contain invalid data.

[2021-05-06 09:29] phillebaba commented on #160
Yep sounds like a good idea, but it would be nice if we could globally filter logs and remove occurrences of a token in case tokens are logged from other errors.

[2021-05-06 10:52] stefanprodan commented on #189
We don't support mTLS for cloning as there is no such support in `libgit2` nor in `go-git` (these are the libraries we use for Git operations). @benke33 how is Flux able to clone your repo, are you using SSH?

[2021-05-06 12:24] benke33 commented on #189
@stefanprodan yes, via SSH

[2021-05-06 19:19] FrenchBen opened #195 "Add support for notification templates"
When working with a notification, an established format has been created, which doesn't provide much flexibility in the message notification.
This is especially relevant for notifiers that support markdown, yet it's set to a default of `text`:
https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/discord.go#L96
https://github.com/fluxcd/notification-controller/blob/main/int

[2021-05-10 12:53] #160 closed

[2021-05-11 04:39] stoetti opened #197 "provider address for gitlab needs to contain the project id"
From the documentation [here](https://fluxcd.io/docs/guides/notifications/#git-commit-status) I tried setting up a provider for my gitlab-repo using the git-url used to clone the project. The notification-controller then reported a 404 when trying to post the commit-status.
[code]

As the url contains the full path of groups I tried settings up the provider using the projects id instead of the pat

[2021-05-12 12:26] benke33 commented on #189
Workaround for now:

Use https://github.com/crabtree/mtls-transmitter and redirect to the gitlab API through a service that adds the certificates.
Change provider address to target that service instead of gitlab api directly.

Would be great if we could get mTLS support in the notification-controller in the future.

[2021-05-12 17:30] hrvatskibogmars commented on #125
👍

[2021-05-13 14:19] sairamvoggu1007 opened #199 "Flux notification controller with github enterprise"
Hi Team and @phillebaba
this is the continuation of previous request: https://github.com/fluxcd/notification-controller/issues/161
Notification controller image updated to :

When I'm trying to create github alert observing following issue in notification controller logs

the github authentication is through SSO that's why I set up the gitrepsotiory resource with SSH (URL and creds) however the  P

[2021-05-13 14:26] stefanprodan commented on #199
I don't see how is this related to GitHub auth. The revision parser has a bug, it fails to detect that the branch is `environment/dv01aws` and the commit is `e0358f0de99e1a078105b05ec2e18a8f242aef5694a `.

[2021-05-13 15:06] sairamvoggu1007 commented on #199
@stefanprodan so I updated branch from environment/dv01aws to master for testing thinking the issue could be the '/' within in the branch name.

After updating branch to master seeing different error

[2021-05-13 15:11] stefanprodan commented on #199
Ok so these are 2 different issues, the first one is a revision parse bug, the 2nd one looks like the token is encoded twice.

[2021-05-13 15:13] sairamvoggu1007 commented on #199
@stefanprodan for second issue does  github token should be base64 encoded or not?

[2021-05-13 15:17] stefanprodan commented on #199
No, Kubernetes does the encoding for you, run this:
[code]

Make sure there is no `\n\r` at the end of the token.

[2021-05-14 14:19] stefanprodan commented on #199
You need to set the `certSecretRef `, see https://fluxcd.io/docs/components/notification/provider/#self-signed-certificates

[2021-05-14 16:07] sairamvoggu1007 commented on #199
@stefanprodan I created secret name tls-certs with ca.crt file and I'm referring token and .crt as following in provider resource. please correct if I'm wrong

[2021-05-14 20:01] messiahUA opened #200 "Slack provider for a private channel doesn't work"
I have an incoming webhook configured for a specific private channel and as far as I know slack has made a change at some point that it's forbidden to specify the channel name in this case, so it's impossible to use such webhook because "channel" is mandatory https://github.com/fluxcd/notification-controller/blob/337b5ab624512818ccbba6e35fecc750a004b770/internal/notifier/slack.go#L69

When I'm tes

[2021-05-14 21:21] sairamvoggu1007 commented on #199
Thanks @stefanprodan  above **cerSecretRef** worked and able to get alerts if branch name doesn't have any '/'

In our case we have branches like "enviornment/dev" environment/test" environmet/prod" with these branch names in notification controller we are observing **Revision string format incorrect:** above you mentioned it as a bug. Could you please let us know once this bug is fixed we can tes

[2021-05-17 07:34] phillebaba commented on #199
I will have a look at this and fix the revision parser so that it can deal with more formats.

[2021-05-17 08:26] phillebaba commented on #189
@stefanprodan most self hosted git providers differ between the API and the GIT server. This means that you could clone through SSH without any client authentication but then have to support client certificates when communicating with the API. Additionally there are other non GIT notifiers which could make use of client cert authentication.

[2021-05-17 19:38] sairamvoggu1007 commented on #199
thanks @phillebaba any ETA?

[2021-05-17 20:43] phillebaba commented on #76
I will close this issue as the notification controller has implemented a rate limiter to the event handler.

[2021-05-17 20:43] #76 closed

[2021-05-17 20:47] phillebaba commented on #194
I agree that we should have a second look at this. When we first implemented the commit status feature a lot was unknown. Currently I am solving this by adding the environment or cluster name to the Kustomization resource. This will cause the statuses to be unique between different clusters.

One solution may be to expose some sort of format configuration for the provider. A risk is that users wou

[2021-05-17 20:52] phillebaba commented on #195
This might work but would mean opening up the go template pandoras box which will be difficult to close if it turns out it does not work. We would need to standardize which variables are exposed, which may lead to feature creep as users ask for more and more features in the templating. Saying that I am more in support of this feature than I am against.

I think implementing this might solve #194.

[2021-05-17 20:58] phillebaba commented on #200
Is there a way that we can differentiate between the webhooks that require a channel and webhooks that dont?

[2021-05-17 21:43] messiahUA commented on #200
I don’t think there is a way to do that based only on the webhook url. And as far as I know webhooks should have a default channel configured, so it should be left for the flux user to specify the channel or not and thus it should be optional.

If I’m wrong and there is an option that channel may be indeed mandatory (on the slack side) then controller should just log an error returned from the sla

[2021-05-19 21:08] sairamvoggu1007 commented on #199
@phillebaba @stefanprodan any ETA on this issue when this fix can be released?

[2021-05-19 21:27] phillebaba commented on #197
So does this require a more detailed documentation which differs between clone urls and provider urls?

[2021-05-19 21:34] hiddeco commented on #199
As much as this may be a high priority issue to you personally @sairamvoggu1007; please refrain from pinging maintainers for ETAs.

Given the people responsible to get the pull request merged are already watching the repository activity and receive notifications for review requests, this only causes additional noise and will generally not result in acceleration of closing the issue, especially not

[2021-05-25 07:27] #199 closed

[2021-05-25 14:28] gmaiztegi commented on #194
I'm not sure on wether it should be on the provide or the alert. It seems that this is a Github specific issue regarding the commit status, although the question might be wether it might be useful to have different alerts with different identifiers, all of them pointing to the Github provider. It's not our use case, nor I can think of any right now, but this seems more flexible.

[2021-05-25 16:56] sairamvoggu1007 commented on #199
may I know to what version I need to update notification-controller docker image to get these changes work

[2021-05-25 17:02] hiddeco commented on #199
There is no release yet that includes these changes.

[2021-05-25 19:25] sairamvoggu1007 commented on #199
may I know expected release date with these changes?

[2021-05-26 11:40] hiddeco commented on #199
This has been released in `v0.14.1`.

[2021-05-26 15:43] sairamvoggu1007 commented on #199
thanks very much!. I will be updating notification controller image to v0.1.4.1

[2021-05-26 19:39] makeacode opened #203 "Support MatterMost"
We use mattermost (slack clone) in our enterprise and after much debugging using the slack provider i discovered the code does not contain the recently added logic to handle self-signed certificates.

Can this please be added in a future release?

[2021-05-27 20:52] gdoctor commented on #194
On a related note, adding some cluster metadata to a notification would be extremely valuable. I am also running flux on 20+ clusters now, and we are unable to use the notification controller effectively since we cannot tell where the notification originated without having a separate chat room per notification-controller instance (we are going to have 50 or more clusters so not very reasonable).

[2021-05-27 20:58] stefanprodan commented on #194
@gdoctor you can add the cluster name to the alert message with `spec.summary`, docs here: https://fluxcd.io/docs/components/notification/alert/

[2021-05-31 20:56] seh opened #204 "Alerts that refer to unready Providers don't recover automatically"
### Describe the bug

If you create a _Provider_ that doesn't become ready soon due to misconfiguration—such as its referenced _Secret_ not decrypting properly—and also create an _Alert_ that refers to that _Provider_, the _Alert_ does not notice when the _Provider_ later becomes ready.

### To Reproduce

Steps to reproduce the behavior:

1. Create a _Provider_ that references a _Secret_ that can'

[2021-06-02 08:47] simongottschlag opened #205 "Azure DevOps: CreateCommitStatus not using context with timeout"
Hi!

When going through the code I noticed that when sending status to Azure DevOps, a context with timeout isn't being used even though it's created.

This is where the status is sent:
https://github.com/fluxcd/notification-controller/blob/f1cc79039877f9a18b95ee4ef8750ffacc607102/internal/notifier/azure_devops.go#L133

This is where the context with timeout is created a little earlier:
https://gi

[2021-06-03 20:59] davisford opened #206 "Question on usage; notification-controller not hitting slack webhook"
I have a slack webhook defined.  I configured notification-controller as follows:

[code]

There's one provider named `slack` - here's what it looks like:

[code]

It refers to a `secret` named `slack-url` which looks like:

[code]

I have one alert defined as follows:

[code]

It looks like this:

[code]

Here some logs from `notification-controller`

[code]

What am I missing?  The notifications

[2021-06-03 21:27] SomtochiAma commented on #206
The logs from the notification-controller show that you haven't created alerts for the particular objects.
Can you paste your alert `YAML`?

If you want to receive alerts for more objects like ImagePolicy, you can add them to the array of `eventSources` in the alert `spec` e.g
[code]

[2021-06-03 21:45] davisford commented on #206
Hi @SomtochiAma -- thanks for the quick reply.  I did post the yaml for my alerts above.  I added event sources for `ImagePolicy` like you have there:

[code]

And redeployed, but it is still not posting anything.  Logs look like below.  I'm wondering if it is a namespace thing?

[code]

[2021-06-03 22:49] SomtochiAma commented on #206
Hey @davisford , Sorry I missed the alert yaml you posted above. Yes, it is probably a namespace thing.  You can specify the namespace in the event sources
[code]
  eventSources:
    - kind: ImagePolicy
      name: '*'
      namespace: maurico
[code]

[2021-06-04 08:33] almorgv commented on #203
Seems like we stuck at this problem too.

[code]
[code]

[code]

[code]
notification-controller logs
[code]
That says `postMessage failed: failed to execute request: POST ...: x509: certificate signed by unknown authority`

[2021-06-04 13:01] phillebaba commented on #203
I was not aware that the Slack provider could be used with Mattermost, I have created a PR which fixes this issue so it will hopefully be fixed in the next release.

[2021-06-04 13:10] SomtochiAma commented on #204
Hey @seh ,
I tried to recreate this bug but the alert and provider were both initialized(with Ready set to True) after the secret was decrypted successfully and the secret applied to the cluster.

[2021-06-04 13:13] seh commented on #204
That's interesting. I haven't tried it again since first running into the problem, as my _Secrets_ are now built correctly, satisfying the _Providers_ from the start.

When you tried it, was the _Secret_ absent entirely, or was it present but with invalid content? In my case, I had forgotten to configure the Flux _Kustomization_ object's "spec.decryption" field properly, so I was winding up with t

[2021-06-04 13:15] #203 closed

[2021-06-04 13:28] SomtochiAma commented on #204
In my case, it was absent entirely, I will try it with invalid content and see what happens.

[2021-06-04 14:44] SomtochiAma commented on #204
Hey @seh, how were you able to apply the secret with the `sops` field in it(It gives a validation)? If I take it out, the kustomize-controller is unable to apply the secret(so it is still absent)
i.e
[code]

[2021-06-04 14:49] seh commented on #204
I _thought_ I did, but perhaps I'm misremembering what had happened to put my _Provider_ to be stuck and not become ready. I know it was due to the missing decryption parameters, but I don't remember whether the _Secret_ object wound up existing or not.

If we can't reproduce the problem, we can close the issue. I mostly wanted to make sure the our controller the reconciles _Alert_ objects does wa

[2021-06-04 16:45] davisford commented on #206
Turns out that was an image policy that needed to be cleaned up and removed.  All my image policies, kustomizations, etc. are in the `flux-system` namespace.

[code]

Example of logs:

[code]

What am I missing?

The provider is tied to a slack secret that has the webhook url it should post to.  I still only see in the logs a bunch of "Dispatching event.." logs, but nothing ever is sent to the sla

[2021-06-07 08:04] SomtochiAma commented on #206
That's weird. It should be sending the events successfully or there would be errors in the logs.
I will try to reproduce this on my end

[2021-06-07 08:05] SomtochiAma commented on #206
Are you using a private channel?

[2021-06-07 08:06] SomtochiAma commented on #200
I will take a look at this issue

[2021-06-07 09:13] SomtochiAma commented on #200
Hey @messiahUA,
Specifying the name of the channel still works for me, events get posted to the slack channel.
I agree with you though we should consider the name of channel not being required. But specifying it in this case still works for me.
I have been unable to reproduce this. Or is there something I am missing?

[2021-06-07 09:23] SomtochiAma commented on #200
Making a curl request(with data `'{"text":"Hello, World!", "channel":"test-private"}'`) also works.
Did you structure your curl request differently?

[2021-06-07 09:41] messiahUA commented on #200
I've tried once again with the same webhook and it works. Even tried to different private channels. I'm confused, not sure what's going on here and what changed... Maybe I made a mistake, but not sure how it is possible because I did same simple curl request. Anyways, can't explain it right now.

[2021-06-07 09:42] stefanprodan commented on #200
This could’ve been a transient issue on the Slack side.

[2021-06-07 09:48] SomtochiAma commented on #200
I noticed that specifying any random string as the channel name still works(not adding the field still works too).
It seems the channel field is not actually required for slack.
@stefanprodan wdyt? Should we make the `channel` field optional for slack?

[2021-06-07 09:55] stefanprodan commented on #200
There was no default channel required in Slack UI, if this has changed then yes we could remove our validation.

[2021-06-07 12:47] #200 closed

[2021-06-07 12:55] SomtochiAma commented on #206
Hey @davisford ,
Can you update your `notification-controller` image to  `somma/notification-controller:test-2` and see if you get more information in the logs.
You can do it with
[code]

[2021-06-07 14:47] davisford commented on #206
Hi @SomtochiAma is that image public -- I'm not able to pull it...

[code]

[2021-06-07 14:49] SomtochiAma commented on #206
Hey @davisford , It was private but I have made it public now.

[2021-06-10 16:05] davisford commented on #206
Hi @SomtochiAma sorry for the delay.  I ran your controller, and here are some logs:

[code]

It shut itself down after a few minutes.  I am unsure why.  I am still not receiving anything in the slack chan, nor any particular log messages that identify an error other than what is above.

[2021-06-10 16:07] davisford commented on #206
I also did a curl request against the webhook to verify it works, and it does:

[code]

[2021-06-10 16:50] SomtochiAma commented on #206
Some update events(commit status) events don't get posted to slack. Can you try creating a new `GitRepository` or `Kustomization`. Let's see if the message gets posted.
 Also, check that you don't have two notification controllers running on the cluster.

[2021-06-10 16:58] davisford commented on #206
If I comment out a Kustomization, let flux drain it.  Then comment it back in, do you expect it to post to slack?  I have the log level set to `info` on the Alert.

[2021-06-18 11:02] fgunited opened #212 "Permanently repeated Kustomization states in Gitlab"
### Issue description

We are using an Gitlab-Provider + Kustomization-Alert on Git- or Helm-Resources.
The Kustomization object has a reconcilation interval of 5 minutes; every 5 minutes I get an “Update completed” Event from the Kustomization object, which then creates a Gitlab Job Result:

![flux_issue1](https://user-images.githubusercontent.com/11735950/122549565-edb5f800-d032-11eb-9ee4-817b12

[2021-06-22 11:40] phillebaba commented on #212
This looks like something has changed in the GitLab API because when initially building this only a single update was actually present. I will implement the same solution which GitHub and Azure DevOps has today in the GitLab provider.

[2021-07-01 12:32] davisford commented on #206
This ended. up being a simple mis-configuration in the `Provider` resource.

[code]

[2021-07-01 12:32] #206 closed

[2021-07-02 20:25] yawboateng opened #214 "Single github receiver per cluster"
is it possible to  have a single receiver handle every resource type in a specific namespace (or every namespace)?

so I don't have to generate and manually add multiple webhooks to github for every single application or even if i was using 1 receiver, I don't want to have remember to update this file every time someone deploys a new application?

something like:

[code]

or will it be possible fo

[2021-07-03 05:47] stefanprodan commented on #214
There is no need to list Kustomizations, Helm release or charts for Git push webhook, Flux reacts on its own when a new revision is detected. A Git push receiver should target a single GitRepository object, the one that matches the upstream repo.

[2021-07-05 16:24] yawboateng commented on #214
hm, it doesnt seem to work for a helm release with values in a configmap, i see the configmap gets updated but the actual release doesnt update. I'll close this and open a new issue for that

[2021-07-05 16:24] #214 closed

[2021-07-05 16:50] yawboateng opened #215 "Helmrelease doesnt update after a new push to github"
So, i have a helmrlease that gets its values from a configmap and i also have this github receiver:

[code]

but when i make changes to the configmap, and push to github, it doesnt reconcile the helm release immediately. i see the changes in the configmap within the k8s cluster but it doesnt in-turn trigger the helmrelease to reconcile with the new values

[2021-07-05 17:15] yawboateng commented on #215
maybe i dont understand the `interval` option. i have the helmrelease set to `interval: 8h0m0s`. My assumption is thats how often flux will do a `pull`. But if i have a receiver, flux will trigger a reconciliation as soon as i push to the upstream and update all the resources, regardless of what the interval is?

[2021-07-05 17:28] stefanprodan commented on #215
Please see https://fluxcd.io/docs/guides/helmreleases/#refer-to-values-in-configmaps-generated-with-kustomize

[2021-07-06 02:33] yawboateng commented on #215
oh perfect. thats it!

[2021-07-06 02:33] #215 closed

[2021-07-06 08:30] cnwangjie opened #216 "[feature request] support Lark custom bot"
Lark is an IM service very like Slack. https://www.larksuite.com/

It provides the custom bot in a group just like Slack bot. Just need to provide a webhook address you can send messages as a bot to a group. It is the detail usage doc: https://open.larksuite.com/document/uAjLw4CM/ukTMukTMukTM/bot-v3/use-custom-bots-in-a-group#-e70e541

Hope to support to send the notification to Lark custom bot.

[2021-07-09 22:20] kingdonb opened #218 "Support Bitbucket Cloud - allow operation without a secret token"
I was going to document the Bitbucket Cloud support for webhook receivers, but it turns out that [Bitbucket Cloud does not support passing a secret in the webhook](https://jira.atlassian.com/browse/BCLOUD-14683), which is an extremely questionable decision IMHO and leaves webhook receivers open to risk of DoS, but this can apparently be mitigated by allow-listing the Bitbucket Cloud IP range.

I s

[2021-07-09 23:12] shmyer opened #220 "Webhooks from Bitbucket Server not working, update go-github to resolve"
### Describe the bug

When using Bitbucket Server and setting up webhooks for triggering release reconciliation, the webhooks might get denied by the underlying go-github library. This happens due to the MIME parameter `charset` being set by Bitbucket in the `Content-Type` header of the webhook call: `Content-Type: application/json; charset=UTF-8`

go-github however expects the Content-Type header

[2021-07-10 09:55] stefanprodan commented on #218
We can’t remove the secret as it’s being used to generate a unique ingress route. No matter the provided capabilities, users have to create a secret with a random token.

[2021-07-10 13:31] kingdonb commented on #218
So the best we can do I guess is add some "insecure" flag or maybe "insecure" provider, that ignores an incorrect content or absence of the secret token in any POST requests so long as they are actually received through the correct route.

The path itself could be considered a secret, since it is randomly generated I'm not sure this is actually much less secure.

(I'll go try implementing this!)

[2021-07-10 13:43] #218 closed

[2021-07-22 20:20] TrAnn3l opened #222 "Add support for Telegram notifications"
Hey, it would be great if you could add support for Telegram notifications.

You just have make a POST or GET request to specific URL with a few parameters.
The follwing docs show the basics:
https://core.telegram.org/bots/api#making-requests
And for the message one need to use the following method:
https://core.telegram.org/bots/api#sendmessage
The user would only need to supply the URL and the c

[2021-07-27 15:21] dholbach commented on #222
Would it makes sense to use https://github.com/containrrr/shoutrrr? It's used in `weaveworks/kured` now.

[2021-07-28 15:32] stefanprodan commented on #222
@dholbach that library looks great 👍

[2021-07-28 15:40] dholbach commented on #222
@atighineanu is in the #kured Slack channel and has helped out quite a bit.

[2021-07-28 18:53] TrAnn3l commented on #222
Looks also great to me!

[2021-07-29 13:42] cskarby opened #225 "Add support for GitLab Environments and Deployments"
I'm looking at the git commit status notification provider for GitLab and is wondering if there would be interesting to extend the capabilities to work with GitLab Environments and Deployments, see https://docs.gitlab.com/ee/ci/environments/ ?

I believe it should be possible to:
1. Create an environment via gitlab-ci: https://docs.gitlab.com/ee/ci/environments/#prepare-an-environment-without-crea

[2021-08-03 12:17] scottrigby opened #251 "Update notification-controller to new unified standards"
- Part of https://github.com/fluxcd/flux2/issues/1601

This issue is to track rolling out the changes to Notification Controller.

This controller is sufficiently complex to make exemplary use of pkg/runtime, specifically it's primary purpose which is move conditions logic to a reusable package. Once this is updated, it should help steer the way for a wider group to roll these standards out to the

[2021-08-06 14:47] jhramey opened #228 "Channel Name with Spaces return 404"
I am able to post to channels without spaces but when I change the channel to one with spaces, I get the following error in the notification controller logs:
[code]

Provider File:
[code]

Flux info:
`flux version 0.16.1`
[code]

[2021-08-06 14:55] jhramey commented on #228
I figured out my issue. The person on my team who created the channel changed the url to not match the channel name. So I was using the wrong value in the provider file. With that being said I can not confirm nor deny if there actually is a bug with spaces in the channel name. Should I close the issue?

[2021-08-08 11:23] telmich opened #229 "Add support for notifying into matrix"
Matrix (matrix.org) is an open source federated chat is more and more used as a replacement for Slack.
Matrix has a very simple API that is alread implemented by services such as gitea.

The typical parameters for a matrix webhook are:

* Homeserver URL
* Room ID (where to post)
* Access token (authentication)
* Event type (optional, can be m.notice or m.text)

[2021-08-08 11:28] telmich opened #230 "Add support for gitea webhook receiver"
Add support for webhooks in the gitea style as described on https://docs.gitea.io/en-us/webhooks/.

[2021-08-09 11:48] stefanprodan commented on #230
You can use the generic webhook for this but it doesn't do payload hmac validation which is something we could support for Gitea (means creating a new provider and copy/paste the hmac check from the GitHub provider).

[2021-08-09 11:49] stefanprodan commented on #229
You could use the Slack provider along with https://matrix.org/docs/projects/as/matrix-appservice-webhooks

[2021-08-09 12:12] telmich commented on #229
That is absolutely correct, @stefanprodan. However that would mean everyone using Matrix will need to add their own webhook server. That's why I was wondering if it makes sense to add this functionality directly into flux.

[2021-08-09 12:53] stefanprodan commented on #229
@telmich I'm not against implementing an alert provider for Matrix, I just wanted to add a note here for others, that there is a workaround for using Matrix even if Flux don't supports yet.

[2021-08-11 15:20] SomtochiAma commented on #228
@jhramey how were you able to create a slack channel with spaces in its name? Hitting the space bar produces a dash in input field for name when creating a new channel.

Regardless, Having spaces in the `spec.channel` field still works(It doesn't matter if the value in the `spec.channel` is different from the channel selected when creating the webhook.)

[2021-08-12 08:59] stefanprodan commented on #228
Thanks @SomtochiAma for the clarification, going to close this as invalid.

[2021-08-12 08:59] #228 closed

[2021-08-16 09:29] SomtochiAma commented on #222
Picking this up

[2021-08-20 09:29] benfairless commented on #125
I personally would like the suggested behaviour. It would allow tenants to set up their own alerts using an existing integration.

[2021-08-22 13:58] mbrancato commented on #195
Wanted to throw some support on this. I think since already there is a well defined data object (`event`) being templated using format strings, this would be easy to implement a basic POC.

https://github.com/fluxcd/pkg/blob/11abd078e26f7eaf8c4c415fa1897e1d41993592/runtime/events/event.go#L36-L72

What I'd suggest is that the first implementation of this exposes this object for templating support.

[2021-08-22 14:29] mbrancato opened #234 "Some resources always send a notification"
Is there a way that we can prevent notifications for "changes" to resources that are not being changed? I don't know the best way to actually determine if changes were made, maybe this is an upstream issue.

It might be that this is caused by the `kustomize.toolkit.fluxcd.io/checksum` label. Is there any way to ignore this since we get flooded with objects being changed when they are not.

[2021-08-23 07:10] FrenchBen commented on #195
Glad to see others are in favor of this.
How bad is this go template pandora's box?

[2021-08-23 09:41] #222 closed

[2021-08-23 20:14] heschlie commented on #234
The ImagePolicy resource also spams notifications. I feel like most folks would expect notifications to only be "Hey this thing changed" as right now those get lost in all of the "Hey here is the same message I posted 5 minutes ago".

[2021-08-23 23:24] uderik commented on #234
I have not found a normal solution to send messages only for new image releases  via alert, ImagePolicy spam message on every scan

[2021-08-24 07:41] stefanprodan commented on #234
Please open an issue here about policy spam: https://github.com/fluxcd/image-reflector-controller

[2021-08-30 16:11] hydradan opened #239 "Add ability to alert when a new image tag is deployed"
There currently doesn't appear to be a way for the notification controller to send an alert when a new image tag is applied to a `HelmRelease`. The `HelmRelease` alert contains the helm chart revision, but that's not particularly useful if the chart isn't being updated -- we'd also very much like the image tag to appear in the alert.

tl;dr How can send a note to our developers that contains the i

[2021-08-31 07:37] #204 closed

[2021-09-07 05:40] multimac opened #242 "Remove limitation on "spec.eventSources.kind""
Hey, I thought it would be really useful to be able to send notifications for any kind of general Kubernetes events via the notification-controller, instead of limiting it to only supporting events from other toolkit components. I've started on a project, [one-model/event-bridge-controller](https://github.com/one-model/event-bridge-controller), for doing just that, which I hope to ultimately contr

[2021-09-07 05:53] multimac commented on #242
Some more context...

I had looked into other solutions for sending Kubernetes events to Slack, but the only project I could find which seemed somewhat mature was https://github.com/bitnami-labs/kubewatch, but it hasn't been updated since Sept. 2020.

Given the notification-controller already handles taking alerts and sending them somewhere, I figured creating another controller to handle taking K

[2021-09-07 05:54] multimac commented on #242
Looks like by manually removing the `enum` validation in the `CustomResourceDefinition`, I was able to create an `Alert` for a non-toolkit resource.

![image](https://user-images.githubusercontent.com/354845/132290776-bc810b85-acec-47e2-992d-9bdb4977b0ce.png)

[2021-09-10 12:57] dmitriishaburov opened #244 "Support for Slack App notifications"
Hello!

As stated in Slack "Incoming WebHooks" app description:

I believe it would be nice to include Slack Apps support by allowing user to set up URL to https://api.slack.com/methods/chat.postMessage and add the app token to secret.

[2021-09-16 11:55] shmyer commented on #220
Are there any plans on updating the dependency?

[2021-09-16 17:29] kingdonb commented on #242
Thank you for taking a look at this and helping us understand how this can be implemented!

I'm not sure if this is in the scope of Notification Controller, or if it is really only meant to be used with Flux resources. It seems like it isn't very complicated to extend the behavior to CRDs that community members have contributed, or even broader any type of resources that emit events.

Is there any

[2021-09-21 02:50] SachinKut opened #247 "x509: certificate signed by unknown authority error while sending notification to Teams"
Hi,
We are expecting the notification controller to send notification to Teams. But we are getting the following error:

{
    "level": "error",
    "ts": "2021-09-18T13:52:06.784Z",
    "logger": "event-server",
    "msg": "failed to send notification",
    "reconciler kind": "Kustomization",
    "name": "xxxx-service-dev",
    "namespace": "flux-system",
    "error": "postMessage failed: failed

[2021-09-22 23:37] kingdonb commented on #239
We need a label for migration blocker. (I think I can add one)

This issue was raised from slack conversation to here in GitHub, there are some screenshots in the Slack thread: https://cloud-native.slack.com/archives/CLAJ40HV3/p1632353046372700?thread_ts=1632347096.364200&cid=CLAJ40HV3

For the sake of disambiguation there is the HelmRelease automation, which looks like this:

[code]

I presume if

[2021-09-23 13:16] bforchhammer commented on #194
Hi, I've also run into the issue described here, and adding the "summary" to an "alert" unfortunately does not seem to do anything in the case of github status messages; github status seem to only contain the `kind`/`name` of the referenced object and the `event reason` as defined in `formatNameAndDescription` here: https://github.com/fluxcd/notification-controller/blob/c4377ceb51f0ed969aa3fac1c15

[2021-09-24 12:59] L3o-pold opened #248 "Helm events are not sent when using Telegram provider"
[code]

[2021-09-30 07:32] #248 closed

[2021-09-30 07:32] #220 closed

[2021-09-30 07:33] #212 closed

[2021-09-30 15:30] nvanheuverzwijn commented on #71
How about a new kind, ClusterAlert, in order to be alerted on all object clusterwide ? Like ClusterRole and Role.

[2021-10-01 09:43] #251 closed

[2021-10-03 07:33] #185 closed

[2021-10-06 16:30] endrec opened #253 "Would be nice to have case insensitive support Alert spec.eventSources.kind"
I've created an alert using flux CLI:

[code]

When I pushed this alert to my git repo, kustomization failled to apply it:

[code]

I would expect the controller to accept values in a case insensitive manner, or the CLI to do the same validation on the client side and fail on create.

[2021-10-08 16:16] aliusmiles opened #256 "Update docs on Generic/HMAC receiver payload"
I've been playing with generic/hmac receivers and found out that payload actually doesn't matter at all for them.

While generic webhook documentation states quite clearly that "the controller will not perform token validation nor event filtering.", the hmac webhook example kinda makes you think you must pass some payload as `<request-body>`. But I've tested with signing empty string and it works,

[2021-10-18 15:05] dholbach opened #265 "Review/extend DEVELOPMENT documentation"
Some of the information might already be there - let's double-check it's up to date and accurate.

[2021-10-19 08:47] marianobilli opened #266 "Helm new chart version available notification example"
I was not able to find an example or documentation on how to set up a notification when a newer chart is available on the helm  repository.

First I would like to know if it can be done and second how.

Thanks!

[2021-10-19 18:32] shin-go opened #275 "Feature Request: Selector-like Config Options for Alert CRD Based on Label"
Per the current documentation on the [Alert CRD](https://fluxcd.io/docs/components/notification/alert/), when configuring multiple `EventSources` you must manually enumerate each CRD type and name. Since manually configuring things is something few want to do for very long or at scale, introducing a selector-like option for Alerts could be useful - particularly if it can be based off Labels on the

[2021-10-20 11:42] rjhenry opened #268 "Slack provider ignores username field"
Running two clusters each with their own gotk deployments and notifying to the same Slack channel, I'd hoped to distinguish between the two by setting an appropriate username in the Provider resource's definition. Unfortunately, these aren't honoured by either the notification controller, or Slack itself.

My Slack bot has the following manifest:
[code]
The provider definition looks like this:
[co

[2021-10-20 11:44] rjhenry commented on #268
Ah, digging through the Slack documentation shows the following:

(src: the end of [this block](https://api.slack.com/messaging/webhooks#advanced_message_formatting)

I suppose I'm out of luck until it's set up as a Slack App rather than a webhook, as with #245

[2021-10-20 11:44] #268 closed

[2021-10-20 12:12] ilya-git opened #269 "Possibility to define eventSeverity as an array rather than minimum version (ideally per source)"
I would like to get all error messages that are happening and some of the information messages e.g. for `HelmChart` or `ImagePolicy`. The reason is that these resources usually generate quite a lot of messages that are not very useful to get slack, but it's rather interesting to know if there is an error.

Since it is now only possible to chose either info  or error (the former will send both erro

[2021-10-20 12:54] ilya-git commented on #269
What about adding an override to each event source?

[2021-10-20 21:59] swapnild2111 opened #270 "Token leaked in logs"
Generate token with `echo 'token' | base64` and then use that in github provider - makes notification-controller push commit status request fail and prints the token in logs.

Detailed discussion:
https://cloud-native.slack.com/archives/CLAJ40HV3/p1634762065311300

[2021-10-21 16:02] phillebaba commented on #247
Sorry forgot to check back on the PR, will fix it :sweat_smile:

[2021-10-21 16:15] #270 closed, assigned to nobody

[2021-10-25 12:45] makkes opened #273 "Remove usage deprecated io/ioutil"
This is supposed to track implementation of fluxcd/flux2#1658 in this repo.

[2021-10-27 08:39] dholbach opened #278 "x509 certificates are not used for Webex"
From Ada Logics

https://github.com/fluxcd/notification-controller/blob/8ff5f75a255d7dd0677590510ab1abf1d33b4f85/internal/notifier/webex.go#L42-L52

https://github.com/fluxcd/notification-controller/blob/8ff5f75a255d7dd0677590510ab1abf1d33b4f85/internal/notifier/webex.go#L76-L78

[2021-10-29 09:53] #273 closed, assigned to nobody

[2021-11-01 06:35] lloydchang commented on #256
@aliusmiles I agree with you that the documentation needs to be updated.

In particular, the sentence

is misleading.

This relates to https://github.com/fluxcd/website/pull/612#issuecomment-955970439

[2021-11-01 09:35] #278 closed

[2021-11-04 14:37] kingdonb opened #283 "Document exclusionList examples to ignore commonly spammy notifications"
This doc has a section for examples related to Notification Controller:

https://github.com/fluxcd/notification-controller/blob/main/docs/spec/v1beta1/alert.md

It shows up in the published docs here:

https://fluxcd.io/docs/components/notification/alert/#example

We thought of this during Bug Scrub yesterday, the suggestion was to provide some (tested) examples for the `exclusionList` of notifica

[2021-11-04 14:46] kingdonb opened #284 "Add a threshold behavior to certain commonly spammy notifications"
Related to #283 - we would like to provide documentation on how to ignore notifications that people frequently consider as spam. This documentation can also highlight a few issues like "hey, this error happens once in a while and it's not usually important, but you don't really want to ignore this, if it happens more than once or twice" – but right now there isn't a facility to ignore an issue unt

[2021-11-04 14:59] kingdonb commented on #283
This was the discussion thread that sparked our interest in this issue:

https://github.com/fluxcd/flux2/discussions/1868

[2021-11-17 17:17] zdkhan opened #286 "Notification controller crashes when trying to send alerts to Alertmanager"
When the notification controller tries to send an alert to Alertmanager it throws an error and crashes the pod.

Flux version is v0.23.0
Current version of notification controller running in cluster is v0.18.1

Below is the yaml used to setup the provider and alerts

[code]

The logs show an event being dispatched but then errors out.
[code]

Is there something wrong with my configuration sending

[2021-11-17 17:38] stefanprodan commented on #286
No matter the configuration the controller should never crash but log the error and continue. Thanks for reporting this bug!

[2021-11-18 08:45] #286 closed

[2021-11-19 07:24] arash-bizcover opened #288 "Support namespace: '*' for Alert"
Same as selecting all names by putting `*`, namespace could be set the same.
**Currently avoiding to set namespace, don't support this behaviour. It seems it only includes flux-system.**

This way we can get all Alerts without statically/manually mentioning different namespaces for different clusters.

[code]

[2021-11-19 07:35] stefanprodan commented on #288
Duplicate of: #71

[2021-11-19 07:35] #288 closed

[2021-11-19 07:49] arash-bizcover commented on #71
This is no way equivilant comparison. We allow flux in a single namespace(flux-system) to manage resources in all other namespaces without explicitly opening up each namespace for flux controllers. In the same approach, we should be able to set notifications+alert for those resources.

[2021-11-24 02:40] leoxhj opened #292 "issue regarding receiver unique URL"
### Describe the bug

Hello team,

Today we noticed the receiver unique URL seems has been changed for some reason which caused the webhook delivery failed.
Maybe I know is that how it was designed or is it a bug?

for example:
We get the receiver unique id below, but after 2 days, it was changed another uid.

[root@localhost ~]# kubectl get receivers -n supply-replenishment|awk '{print $7}'|awk -

[2021-11-24 08:19] leoxhj commented on #292
`2021-11-24 14:14:00`

[root@localhost ~]# kubectl get receivers -n supply-replenishment
NAME                            READY   STATUS                                                                                                  AGE
supply-replenishment-receiver   True    Receiver initialised with URL: /hook/b28e3bf918efd723e027031a3ad99ab67f83e82b35e7b7a1904de8bea476b3c6   29d

`2021-11-24 ha

[2021-11-24 08:22] leoxhj commented on #292
attached notification-controller log:

[notification-controller-69df9985c6-xjt6h.log](https://github.com/fluxcd/notification-controller/files/7593892/notification-controller-69df9985c6-xjt6h.log)

[2021-11-24 08:27] leoxhj commented on #292
I think we found the log, but nothing has been changed at that moment.

{"level":"info","ts":"2021-11-24T06:18:36.400Z","logger":"controller.receiver","msg":"Receiver initialised","reconciler group":"notification.toolkit.fluxcd.io","reconciler kind":"Receiver","name":"supply-replenishment-receiver","namespace":"supply-replenishment"}
{"level":"info","ts":"2021-11-24T06:18:36.408Z","logger":"contro

[2021-11-24 08:31] stefanprodan commented on #292
The only way this could happen is when the secret value changed: https://github.com/fluxcd/notification-controller/blob/main/controllers/receiver_controller.go#L155

@SomtochiAma can you please refactor the unit tests and add a test to prove that the URL doesn't change unless the secret changes?

[2021-11-24 08:55] leoxhj commented on #292
btw, please help to validate this on v0.15.0

https://github.com/fluxcd/notification-controller/blob/v0.15.0/controllers/receiver_controller.go

[2021-11-24 09:20] leoxhj commented on #292
@hiddeco @stefanprodan @SomtochiAma Thanks for your detail clarification, you're right.  It seems our helmchart deployment update the secret for some reason, we still need to figure out ourselves. Again, thanks a lot. please close my issue.

[2021-11-24 09:20] #292 closed

[2021-11-30 08:43] hkuersten commented on #195
I, too, would love to have a little bit more flexibility in constructing the message sent to Slack: we use the same channel for all notifications from our various environments (dev, QA, Staging and Prod) and if the message is always
[code]
Would it be possible to add at least some info on the cluster, from which the event was emitted?

[2021-11-30 09:27] SomtochiAma commented on #195
@hkuersten There is a `spec.summary` field in the alert resource that you use to add more info to the alert

[2021-12-09 15:59] siegenthalerroger opened #296 "Feature Request: Allow Relabeling of Alerts"
In our alerting stack we use Prometheus AlertManager and use a defined list of labels to correctly route any Alerts that are pushed to AM. The alerts sent by the notification controller to AM however use a different list of labels (or even more precisely different values than we expect). It would be beneficial to have way to relabel the alerts before they are sent to other systems.

I see two ways

[2021-12-10 15:02] itspngu commented on #71
I, as many others, would have a use case for the proposed behaviour, and would be happy to put some work towards it. I've used Flux extensively for about a year now but never really dug into the codebase.

For what it's worth I feel like @nvanheuverzwijn's suggestion of having a non-namespaced `ClusterAlert` resource is the cleaner approach, because it doesn't break any existing functionality, acc

[2021-12-10 15:07] stefanprodan commented on #71
A ClusterAlert doesn't solve much because it would refer to a ClusterProvider that would refers to a Kubernetes secret, and Kubernetes team rejected the proposal of having ClusterSecrets. I'm for revisiting the namespace wildcard option after [RFC-0003](https://github.com/fluxcd/flux2/pull/2093) gets approved.

[2022-01-04 15:40] yiannistri commented on #265
I'd like to have a go on this.

[2022-01-05 18:55] RicardormDev opened #299 "Github Signature is Failing"
It seems that when I receive a webhook from github it throws the following error.

`{"level":"error","ts":"2022-01-05T07:01:11.885Z","logger":"receiver-server","msg":"unable to validate payload","reconciler kind":"Receiver","name":"github-receiver","namespace":"flux-system","error":"the GitHub signature header is invalid, err: payload signature check failed"}`

[2022-01-05 19:48] stefanprodan commented on #299
Have you followed the steps described here https://fluxcd.io/docs/guides/webhook-receivers/#define-a-git-repository-receiver?

[2022-01-05 20:57] kingdonb commented on #299
Related:

* https://github.com/fluxcd/flux-recv/issues/34

This is failing because @RicardormDev is using an Organization-wide webhook. Is there any chance we will support those soon?

[2022-01-05 21:14] RicardormDev commented on #299
Thanks.

[2022-01-10 11:55] SomtochiAma commented on #299
Hey @RicardormDev ,

I tried using an Organization-wide Webhook and it worked okay for me. How did you set up your webhook?
Please, can you cross-check that the secret you used with the receiver is the same as the one you used for creating the webhook on Github?

[2022-01-11 19:54] pjbgf opened #305 "Improve OpenSSF Scorecard Score"
"The Open Source Security Foundation is a cross-industry collaboration to improve the security of open source software (OSS). The Scorecard provides security health metrics for open source projects."

As of 3rd January, fluxcd/notification-controller scores **6.2/10**. For latest score check [deps.dev](https://deps.dev/go/github.com%2Ffluxcd%2Fnotification-controller) or [manually execute scorecar

[2022-01-12 14:48] #230 closed

[2022-01-13 10:21] #265 closed

[2022-01-18 15:46] callaertanthony opened #311 "Revision string format incorrect"
Hi,

I encounter this error on notification sending :
[code]

This happens because override the version and adds a "since time" value when it's listening on a branch source to be able to correlate new changes from the branch.
This is what this PR did : [](https://github.com/fluxcd/source-controller/pull/172/files)

So, it should be great to update the current parsing strategy to be able to handle

[2022-01-19 16:22] naustin opened #312 "Generic Provider alert not adding Authorization header for id:password"
I'm attempting to send Flux alerts to Elastic using the 'generic' Provider event but I'm seeing http 401 returned from Elastic for the notification requests being sent.   I've configured linkerd to monitor the requests and it looks like the authorization header is not being added to the 'generic' Provider request message.   I'm providing the Elastic URL and credentials using a secret with 'address

[2022-01-20 09:56] SomtochiAma commented on #311
Hey @callaertanthony ,
Please, How can I reproduce this bug on my end?.

[2022-01-20 10:23] callaertanthony commented on #311
Hi @SomtochiAma, @stefanprodan,

@stefanprodan, thanks for your answer and explanation about revision management. Do you confirm this is a pattern matching bug from notification controller and not a bad management from my side ?

@SomtochiAma, this bug happens on my side having a helm packaged chart managed by flux from a `GitRepository`. Flux adds a timestamp value after the chart version (the `+

[2022-01-20 10:26] stefanprodan commented on #311
@SomtochiAma write a test using the above revision in here https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/util_test.go it should fail, then write a fix.

[2022-01-20 13:58] SomtochiAma commented on #311
Hey @callaertanthony ,

The git notification providers require that a commit hash present in the meta data of the event. Therefore the providers will only work with Kustomization as an event source, as it is the only resource which includes this data.

The Git commit status is currently only supported for Kustomizations

[2022-01-20 14:00] #311 closed

[2022-01-26 07:20] Nold360 opened #316 "Matrix: Can't get CertSecretRef working"
Hi,

I'm trying to get the matrix notification provider work with a custom CA certificate, but I can't seem to get it working. Even if it's using the same CA-Chain as my gitlab repository, I'm reconciling from.  My secret contains the key 'caFile' with a valid cert chain.

Here is my controller config:
[code]

I can see the certificate being accepted by the controller. But once it tries to send a

[2022-01-26 10:59] #316 closed

[2022-01-26 14:23] #312 closed

[2022-02-03 13:27] mathieubergeron commented on #195
It would also be nice to be able to customize the body being sent when using the `generic` provider.

I was hoping that using the `generic` provider would allow me to send a [`repository_dispatch` request](https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event) to a GitHub repository, but it won't work unless I can specify a valid body for the request.

[2022-02-03 15:16] antoineozenne commented on #296
We have the same problem. We need to route the notification based on a specific label. Maybe it could be possible to allow adding custom label in the `Alert`?

[2022-02-07 15:27] stefanprodan commented on #275
I propose we add new optional field to the `EventSource` named `matchLabels` of type `map[string]string`. The selector will be taken into consideration only if `name` is set to `*`. This would not break the current API, and will allow filtering of objects of a particular Kind within a namespace based on labels.

This selects all GitRepos and Kustomizations in the `default` namespace:

[code]

This

[2022-02-07 17:25] antoineozenne commented on #266
I'm migrating all my Helm releases to Flux. For now, I use a `CronJob` with <https://github.com/FairwindsOps/nova> that sends an email with the report. But I just realized it won't be possible anymore with Flux because Nova relies on Kubernetes secrets created by Helm (`sh.helm.release.v1.chart.v1`), and Flux does not create Helm secrets.

[2022-02-08 09:24] vchrisb opened #323 "discord provider properties"
the discord provider does require the username to be set:
https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/discord.go#L51
The username is optional by discord and not allowing it to be empty doesn't allow to use the ReportingController for the username.
https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/discord.go#L78
It would be good to make

[2022-02-09 08:47] #323 closed

[2022-02-09 08:54] stefanprodan commented on #266
We do create secrets, Flux uses Helm packages so a release made by Flux is no different from one made with Helm CLI.

[2022-02-09 09:37] antoineozenne commented on #266
Oups, sorry and thank you for the correction @stefanprodan. You're right, I made a mistake when I tested.

[2022-02-10 13:54] #275 closed

[2022-02-14 09:48] antoineozenne opened #327 "The git commit status is always marked as success before it is marked as failed"
When committing bad values to force the git commit status as failed, the commit is first marked as success (before all resources are reconciled), then after the kustomize-controller retries, marked as failed. The commit should not have a status before all resources are reconciled. Here is my configuration for this use case.

My repo tree:

[code]

My manifests:

[code]

[code]

[code]

And the Git

[2022-02-14 22:10] SomtochiAma commented on #327
I am unable to replicate this on my end. I committed invalid yaml  but got only one failed job.
What kind of bad values are you committing to git?

<img width="1222" alt="Screenshot 2022-02-14 at 11 01 34 PM" src="https://user-images.githubusercontent.com/34774756/153954927-1988655d-5cf9-479f-8cd9-830a8dbf8d11.png">

[2022-02-15 14:05] antoineozenne commented on #327
These values (with `spec.values.resources.requests.cpu: 10mm`):

[code]

[2022-02-15 17:38] au2001 opened #328 "Receiver webhooks revert apiVersion of ImageRepository to v1alpha1"
The webhook server has a hardcoded map of `apiVersion`s for a few resources\
[here](https://github.com/fluxcd/notification-controller/blob/68f0adc83d116a27305694bed38080a541db8a14/internal/server/receiver_handlers.go#L359).

Version `v1beta1` of `image.toolkit.fluxcd.io` (including `ImageRepository`) has been\
released in June of last year. But this hardcoded version has not been updated\
since.

[2022-02-16 11:01] alekspog opened #329 "Is it possible to add additional data to generic webhook body request?"
I'd like to trigger automated tests using Github Actions with repository_dispatch trigger. Tests should be triggered once the service is successfully deployed with Flux. I've found the example to call GitHub API using [generic webhook](https://fluxcd.io/docs/components/notification/provider/#generic-webhook) notification provider. The problem is that Github [repository_dispatch](https://docs.githu

[2022-02-17 17:48] antoineozenne opened #332 "Allow using Basic Auth in Grafana provider"
### Describe the bug

This is a feature request.

To send notifications to [Grafana annotations API](https://grafana.com/docs/grafana/latest/http_api/annotations/), the Grafana Provider only allows using API key to authenticate to Grafana (<https://fluxcd.io/docs/components/notification/provider/#grafana>). To create an API key in Grafana, we must manually authenticate with an account via UI or AP

[2022-02-17 18:19] cep21 commented on #71
To add some context here, a piece of feedback I receive from developers after rolling out flux2 is that they don't know fast enough if their helm releases fail.  Our cluster setup is a namespace per customer (lots of namespaces). We are monitoring this externally via datadog checks, but it would be great if the infrastructure team could take care of this for developers.  Our current workaround is

[2022-02-18 14:56] fsequeira1 commented on #332
I will look into it

[2022-02-22 09:00] #332 closed

[2022-02-28 18:18] au2001 opened #339 "Support for authenticating with GitHub App installations"
The `github` Provider currently only supports authenticating with a [personal access token](https://fluxcd.io/docs/components/notification/provider/#authentication).
Another (newer) supported mechanism on GitHub is through [GitHub App installations](https://docs.github.com/en/developers/apps/building-github-apps/authenticating-with-github-apps#authenticating-as-an-installation).

Could this authen

[2022-03-10 17:27] fishman opened #341 "Webhook receivers don't allow granular event selection on github"

[2022-03-17 12:55] jprecuch opened #353 "Notifications username for slack is not really working"
### Describe the bug

I have provider with following
[code]
It is also properly configured on cluster
[code]
However when I changed something the Slack notification does not have the username from this Provider configuration  but uses default = Slack application name.

### Steps to reproduce

1.  Deploy provider based on above where you use app with different name than what you specified to userna

[2022-03-24 06:19] stefanprodan commented on #353
This is a Slack limitation that we've documented here: https://fluxcd.io/docs/components/notification/provider/#slack-app

The username only works when using the Slack [webhook method](https://fluxcd.io/docs/components/notification/provider/#notifications).

[2022-03-24 06:19] #353 closed

[2022-04-01 06:29] jprecuch commented on #71
+1  - Would be nice to have this feature and allow wildcards for namespaces.

[2022-04-01 08:21] jrauschenbusch commented on #225
Would be a really cool feature for Gitlab. But i think first there needs to be the new dedicated  [CommitStatus](https://github.com/fluxcd/flux2/discussions/1529) CRD so that there is more flexibility for these specific fields.

[2022-04-01 08:25] jrauschenbusch commented on #194
@stefanprodan Is there any progress regarding the dedicated `CommitStatus` CRD? This would extend the room of enhancements by far (e.g. https://github.com/fluxcd/notification-controller/issues/225)

[2022-04-06 16:40] cep21 commented on #71
How are others working around this issue?  I'm thinking of writing a poll based system to cron the `flux` CLI.

[2022-04-07 07:34] zerunhu opened #358 "Diff notification about k8s status and git status"
Can notification-controller alert the difference between the actual state in k8s and the expected state in git?

For example, due to some special circumstances or misoperation, others have changed the replicas of the pod, so that it does not meet the expected state of git, and helm-controller will not automatically correct it, then can we cooperate with something similar to kubediff? Project to do

[2022-04-07 18:13] murillodigital opened #359 "Allow filtering of repeat `update` events on `ReconciliationSucceeded`"
The generic webhook provider will send an event every time a `ReconciliationSucceeded` occurs, with a `metadata.commit_status = update` even when there are no changes between the current and previous reconciliation.

Please introduce some property (similar to Slack's provider https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/slack.go#L83-L86 ) that will not send `Reconc

[2022-04-08 10:34] L3o-pold opened #360 "Non UTF-8 in token should not panic"
[code]

[2022-04-12 14:01] pjbgf opened #362 "Improve documentation on debugging the controller locally"
The [DEVELOPMENT.md](https://github.com/fluxcd/notification-controller/blob/main/DEVELOPMENT.md) could be improved to help users trying to debug problems or reproduce reported issues.

Things we could expand on:
- Suspend objects that are irrelevant to the test at hand.
- Environment variables
  - `RUNTIME_NAMESPACE`: limit the namespaces being watched.
- Arguments
  - `--concurrent`: decrease con

[2022-04-12 14:11] pjbgf opened #363 "Add flags to configure exponential back-off retry"
Two new flags (`--min-retry-delay` and --`max-retry-delay`) have been added on `fluxcd/pkg/runtime` to enable users configuring the exponential back-off retry settings.

Those tags should be brought into `notification-controller` in a similar way they were implemented in the other controllers:
https://github.com/fluxcd/source-controller/pull/664
https://github.com/fluxcd/image-automation-controlle

[2022-05-13 08:39] MarkStromme opened #374 "azdevops - "could not list commit statuses: Request returned status: 401 Unauthorized""
The notification controller fails to send notification because its unauthorised.

I have followed the documentation and created secret called azdevops (the PAT token has full access to everything):

[code]

I have an alert and provider defined like this in "some-namespace" namespace:

[code]

"some-kustomization" kustomization:
[code]

For some reason there were no updates on the commit statuses i

[2022-05-13 08:48] stefanprodan commented on #374
We do have e2e tests for Azure DevOps commit status updates that run on Azure infra, the last test run was successful https://github.com/fluxcd/flux2/actions/workflows/e2e-azure.yaml.

I suspect the token does not have the right permissions, maybe @SomtochiAma or @phillebaba could say more about which permissions are needed.

[2022-05-13 09:14] MarkStromme commented on #374
@stefanprodan I have given the PAT full access to everything, so I don't think that is the issue. I have also tested with generating new PATs and using them without any success.

I see that we are using apiVersion v1beta2, in examples it's v1beta1, will try that.

[2022-05-16 08:38] MarkStromme commented on #374
My bad, i encoded the token wrong.

Generating the token as follows solved the problem:
`echo -n <PAT> | base64`

The status in Azure DevOps repos now updates accordingly.

[2022-05-16 08:38] #374 closed

[2022-05-19 17:00] pjbgf opened #376 "Roll out new unified standards to Notification Controller"
High-level points covered on this:
- Roll-out new Flux Controller best practices, based on [K8S API Conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md).
- [KStatus](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus/README.md) aligned with the one implemented on [source-controller](https://github.com/fluxcd/sour

[2022-05-25 14:16] pjbgf opened #378 "Update Notification Spec documentation based on source-controller standard"
The Source Controller has examples on how the new conditions should be documented:
- [Git Repository Conditions].
- [Helm Repository Conditions].
- [Helm Chart Conditions].

[Git Repository Conditions]: https://github.com/fluxcd/source-controller/blob/main/docs/spec/v1beta2/gitrepositories.md#conditions
[Helm Repository Conditions]: https://github.com/fluxcd/source-controller/blob/main/docs/spec/v

[2022-06-09 02:37] Naresh240 opened #382 "Is it possible to get cluster-name, while we are sending notifications to ms teams"
We are trying to send notifications from different cluster, nearly we are creating 10 clusters at a time, need to get notifications to same channel with cluster name. so that we can easily identify from which cluster we are getting notification.

Please help where I need to mention about cluster name?

[2022-06-09 04:45] aryan9600 commented on #382
You can mention it in the `.spec.summary` of your `Alert`. Ref:  https://fluxcd.io/docs/components/notification/alert/

[2022-06-09 04:51] Naresh240 commented on #382
In `.spec.summary` we need to mention like as message, but we don't like to touch our `Alert` every time. While getting notification in our channel value should be replace with cluster name automatically. Any possibility we have?

[2022-06-14 15:13] julienduchesne opened #383 "`gotk_reconcile_condition` not being marked as `Deleted` for Alert"
Version: 0.23.4 and 0.24.0

We deleted an `Alert` resource (renamed it) and instead of being marked as "Deleted", it is being marked as not Ready. This has happened across two clusters (and two different Flux versions)

Here's what the metrics look like for that resource:
[code]

These metrics trigger the alert defined here: https://github.com/fluxcd-community/flux-mixin/blob/main/alerts/flux-aler

[2022-06-30 12:53] pjbgf opened #386 "Create a new flag to block use of HTTP endpoints for provider"
A new flag could be created to block the use of HTTP endpoints for acquiring sources.
When enabled, the flag would not allow the use of the `http` scheme across all controller-level objects.

## :memo: To do:
- [ ] Disable HTTP scheme for `GenericProvider`.
- [ ] Disable HTTP scheme for `SlackProvider`.
- [ ] Disable HTTP scheme for `GrafanaProvider`.
- [ ] Disable HTTP scheme for `DiscordProvider

[2022-07-12 20:54] fawadasaurus opened #391 "alert.spec.summary not showing on slack messages for GitRepository events."
I am getting a "summary" for my `Kustomization` messages.  I am not getting a summary for my `GitRepository` messages.
[code]
[code]

Here is my config.
[code]

[2022-07-12 21:02] #391 closed

[2022-07-25 15:45] imle opened #393 "Unable to parse `package` event from GitHub webhook"
Error message I get when the webhook comes in.

`unable to parse GitHub payload, err: json: cannot unmarshal object into Go struct field PackageVersion.package.package_version.body of type string`.

Trying to use this with the image watcher.

`v0.22.2`

[2022-07-27 13:32] somtochiama commented on #393
Can you give more information on how you created the Github webhook?

[2022-07-27 13:38] somtochiama commented on #382
@Naresh240 if what you mean is the cluster name being automatically added to the alert, that is currently not supported.

[2022-07-28 19:56] bradmccoydev opened #395 "Add new notifier to send CloudEvent / CDEvent"
This is a feature request to add the ability to send a CloudEvent / CDEvent from a flux notification to enable better interoperability between tools such as Keptn or Tekton for example.

This issue relates to #195 we can either update the forwarder notifier or create a new notifier for events.

The easiest and most likely accepted way of doing this is as follows:

1. Extend the Provider secret to

[2022-08-09 20:25] kingdonb opened #400 "OCIRepository type should be allowed in Receiver spec"
I see that OCIRepository type is an allowed event source in [0.25.0](https://github.com/fluxcd/notification-controller/blob/6f729e491b6709c7ff007e9098b1002a398c226a/CHANGELOG.md#0250)

OCIRepository should also be added as an allowed target for receiver, but it looks like it has not yet. (Will this be possible to include before the final release?)

I tried it just now with the latest commit from t

[2022-08-09 20:40] darkowlzz commented on #400
The issue seems to due to the kind value being `OciRepository` instead of `OCIRepository`.
The error full error message contains OCIRepository as a supported kind:
[code]

[2022-08-09 20:50] kingdonb commented on #393
I created a Receiver such as this one:

[code]
![Screen Shot 2022-08-09 at 4 41 23 PM](https://user-images.githubusercontent.com/3286998/183757325-d989721f-5ed9-460a-85a6-9b16d57ea087.png)

and set the GitHub events to `ping` and `package`, which corresponds to the `Package` event in GitHub (above)

I wound up using this resource target instead, as the `OciRepository` target is not allowed yet per

[2022-08-09 20:52] kingdonb commented on #400
Oh, good catch @darkowlzz – then I'll fix it in my test manifest and close this, (but #393 still blocks this feature from working together properly with GitHub GHCR.)

[2022-08-09 20:52] #400 closed

[2022-08-10 08:21] #363 closed

[2022-08-10 11:03] #266 closed

[2022-08-11 09:04] #393 closed

[2022-08-11 15:29] bradmccoydev commented on #395
Notes from Flux community meeting 11-Aug. We will investigate alternative ways of doing this and look into transforming a Kubernetes event into a Cloudevent and how we add our custom metadata. @bradmccoydev to investigate further, and see if anyone else is doing this.

[2022-08-13 05:54] gunishmatta commented on #386
@pjbgf  I would like to work on this

[2022-08-22 15:33] artemlive opened #406 "Github alert issue: "could not list commit statuses: context canceled""
Hello. I have an issue with the notification controller that is, I believe, related to this #385 PR.
When the controller tries to dispatch the Kustomization I see the error in the notification-controller logs:
[code]
As far as I see the client's request is not synchronous and it doesn't wait while the request is processed.  So it cancels the context because the incoming request from the client (wh

[2022-08-23 15:16] makkes commented on #382
I think it would generally make sense to have a means of exposing a cluster name through the Events API. However, the question is, how? One could use the `.metadata.uid` of the `kube-system` Namespace which is assumed to be (1) available on every Kubernetes cluster and (2) unique. That ID changes every time the cluster is created which might happen on a regular basis, especially in dev environment

[2022-08-23 15:29] stefanprodan commented on #382
The cluster name is unknown to Kubernetes itself, so there is no way to get this info automatically. You can use a kustomize patch that targets all Alerts objects and sets the cluster name in `.spec.summary`.

[2022-08-23 15:57] stefanprodan commented on #382
Why add a 2nd field that does the same thing as summary? I would consider adding a cmd flag to notification-controller e.g. `--cluster-name` that would inject the value in the alert message body.

[2022-08-24 12:19] pjbgf commented on #406
Other Flux controllers have configurable Timeouts which allows users to set it according to their needs.
I think the same could be beneficial here.

During the Bug Scrub we discussed about the possibility of having a flag to define Timeouts at the `handleEvent()` level. And potentially a CRD level Spec.Timeout for the providers. But it would be great to get the views of other maintainers on the ma

[2022-08-24 12:21] stefanprodan commented on #406
I'm for adding a timeout field to the Provider spec with a default of `15s`.

[2022-08-24 16:07] somtochiama commented on #406
+1 on adding timeouts to the provider spec.

[2022-08-25 09:23] Alan01252 commented on #383
Thank you! We were seeing this too and can confirm restarting the notification controller resolve the alert.

[2022-08-25 09:45] stefanprodan commented on #383
We need to add finalizers to all the notification CRDs to be able to block the deleting, then set the metric, and finally free the object to allow Kubernetes to purge it. Adding finalizers will break `flux uninstall` so we also need to remove them with the CLI like we're doing for other CRs.

[2022-08-26 13:34] Alan01252 commented on #296
I knocked up a proof of concept around this and it's relatively trivial to implement.

The sticking point is how to get the configuration into the alert. At the moment providers don't allow you to have a bespoke configuration passed in for that provider.

[2022-08-29 08:25] #406 closed

[2022-09-07 12:48] Alan01252 commented on #296
@stefanprodan do you have any thoughts on the above? The crux of the problem is we need some way to pass bespoke configuration to a provider.

My thoughts are that the provider could optionally take a ConfigurationRef containing ( optional )  bespoke configuration that could be read by the provider when instantiated.

I'd like to work on implementing this if you feel there's merit to the approach.

[2022-09-08 07:48] stefanprodan commented on #242
We've documented how to add other kinds to the CRD: https://fluxcd.io/flux/cheatsheets/bootstrap/#enable-notifications-for-third-party-controllers

[2022-09-08 07:48] #242 closed

[2022-09-08 08:33] stefanprodan commented on #296
We [copy the event metadata to the alertmanager labels](https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/alertmanager.go#L71), based on this we could inject the `Alert.metadata.labels` into the event before it gets sent to the provider. While this will allow setting custom labels it will not allow relabelling such as `namespace` -> `vendor`.

[2022-09-08 09:27] Alan01252 commented on #296
Would that mean the flux project isn't open to `ConfigurationRef` style solution ( and that's a perfectly acceptable response ) to satisfy the relabelling feature?

My ( and I never would expect this pull request to be merged/consider to be merged ) brute force proof of concept implementation is here for those interested https://github.com/fluxcd/notification-controller/compare/main...Alan01252:no

[2022-09-08 11:06] siegenthalerroger commented on #296
@stefanprodan adding custom labels would already be useful, however relabelling would definitely be useful as well.

[2022-09-08 14:54] marcuslindfeldt opened #415 "Unable to list commit statuses"
Hello we are evaluating flux and are looking into setting up the github status integration however it does not seem to work.

I tried it on my personal account and it worked fine but in our github organization it does not work. I have verified that the PAT is able to list commit statuses via the gh api so I dont think its an authentication issue.

notification-controller logs:
[code]

Manifests:
[

[2022-09-08 15:11] marcuslindfeldt commented on #415
Just found this duplicate issue https://github.com/fluxcd/notification-controller/issues/406
Updated to 0.25.2 and that fixed the issue.

[2022-09-08 15:11] #415 closed

[2022-09-09 16:06] #383 closed

[2022-09-12 15:15] philipsabri opened #418 "Request - exclusionList in Alert should filter on more than just the message"
Hello! Currently running into a few problems with more "complex" `Alert` configs.

Would be nice if we could use exclusionList on more than just the message such as the name of the alert, which I believe is called `event.InvolvedObject.Name`

I would like to run something like this without having to hardcore all services in `eventSources` for the first `Alert` config but still be able to add more

[2022-09-12 18:15] flurreN commented on #418
Made a PR if this could be something https://github.com/fluxcd/notification-controller/pull/419 I dont know GO so it could probably be done in other ways.

[2022-09-22 14:38] soufianez75 opened #422 "notification-controller error with provider sops & azure devops"
Hello,

I have an issue when i apply a provider with type azuredevops

{"level":"info","ts":"2022-09-22T14:37:39.284Z","logger":"event-server","msg":"Dispatching event: Provider/ns/notification dry-run failed, error: failed to create typed patch object (ns/notification; notification.toolkit.fluxcd.io/v1beta1, Kind=Provider): .spec.decryption: field not declared in schema\n","reconciler kind":"Kust

[2022-09-22 14:40] stefanprodan commented on #422
There is no `.spec.decryption` in the notification-controller APIs, what are you trying to do?

[2022-09-22 14:40] soufianez75 commented on #422
I use an secret encrypt with sops

[2022-09-22 14:44] stefanprodan commented on #422
Such a thing is not possible, only Flux Kustomization objects support decryption.

[2022-09-23 07:22] soufianez75 commented on #422
It's OK thanks a lot

[2022-09-23 07:22] #422 closed

[2022-09-28 14:07] marcuslindfeldt commented on #195
This feels like an essential feature for the notification controller.
To be effective, notifications need to be easy to read and contain just enough information to be informative.
Exactly what that information is will vary in different organisations.

The `event` object looks promising. If its intent is something else then maybe its possible to create a new object with a very strict api from the b

[2022-09-29 11:25] stefanprodan commented on #99
I propose we introduce a new alert provider type named `generic-hmac` (like we did for receivers), that requires a secret with a `token` key.

Example definition with HMAC and self-signed TLS receiver:

[code]

The HTTP POST will contain a header named `X-Signature`:

[code]

The receiver will lookup the prefix to determine the SHA algorithm, then it will calculate the digest of the body and compa

[2022-10-04 15:17] makkes commented on #205
closed in #385

[2022-10-04 15:17] #205 closed

[2022-10-05 13:37] #99 closed

[2022-10-06 16:47] alexandermarston opened #428 "Feature Request - Allow sending Slack Notifications in Threads"
When performing a lot of deployments, a Slack channel can soon become overwhelmed with messages regarding upgrades. As an engineer, it can be easy to miss potentially important and useful information. It would be a lot more beneficial to group messages together that are part of the same action or event stream.

Slack supports the ability to send messages as part of a thread, by using the `ts` valu

[2022-10-17 16:15] ywwg commented on #428
Even creating a new flux thread per day would help cut down the noise.

[2022-10-20 19:03] dyvol777 opened #432 "Proxy in provider spec"
There is a proxy parameter in the spec. But not all types support it. For example, telegram does not support [link.](https://github.com/fluxcd/notification-controller/blob/main/internal/notifier/factory.go#L89)

I spent a lot of time to understand this. Shouldn't all types support this setting? Or at least have a mention in the documentation that they don't support proxies.

[2022-10-21 07:08] stefanprodan commented on #432
I think this is bug, HTTP/S proxies should work for all providers.

[2022-10-25 09:14] sastorsl opened #433 "Slack Webhooks no longer support `channel` and `username` except in legacy webhooks."
### Describe the bug

When configuring [notifications to slack](https://fluxcd.io/flux/guides/notifications/) the documentation specifies that you can set the `channel` and `username`.
Also detailed in the [API spec](https://fluxcd.io/flux/components/notification/api/#notification.toolkit.fluxcd.io/v1beta1.ProviderSpec)

Slack have moved their old [webhooks into legacy](https://api.slack.com/legac

[2022-10-25 09:58] makkes commented on #433
Thanks for raising this. Quick question for clarity's sake: Do you know whether it's still possible to create the legacy webhooks?

[2022-10-25 11:34] makkes commented on #433
@sastorsl in reference to

Can you paste an excerpt of the logs you're seeing?

[2022-10-25 13:27] sastorsl commented on #433
We definitely have legacy webhooks working still. We discovered it when one of our users got disabled as a Slack user and one of their really old webhooks got disabled in the process.

Our Slack admin tells me it's possible to create a legacy webhook still, but it is of course living dangerously.

For some workload it's nothing more than a chore, that is creating a lot of webhooks and reconfigurin

[2022-10-25 13:28] sastorsl commented on #433
I agree.

[2022-10-25 19:50] romankuzmik opened #434 "Add Zoom as an Alert Provider"
Generic provider does not work since Zoom expect JSON payload to be in a specific form.
See Zoom Messaging spec: https://marketplace.zoom.us/docs/guides/chatbots/customizing-messages/

[2022-10-28 08:43] makkes commented on #395
Hey @bradmccoydev, did you get to take a look at this? I'd be happy to pair up on this effort. Find me on Slack as `@max`.

[2022-10-30 23:32] bradmccoydev commented on #395
Hey @makkes sorry I haven't yet, it got stale, but still very interested. That sounds great I will reach out, is that CNCF slack right?

[2022-11-02 12:56] stefanprodan opened #436 "GA: Promote `Receiver` to `notification.toolkit.fluxcd.io/v1`"
Items to be reviewed plus any outstanding work required to bump the API to `v1`:
- [x] Documentation
  - [x] https://fluxcd.io/flux/guides/webhook-receivers/
  - [x] https://fluxcd.io/flux/guides/image-update/#trigger-image-updates-with-webhooks
  - [x] https://fluxcd.io/flux/guides/helmreleases/#configure-webhook-receivers
  - [x] https://fluxcd.io/flux/migration/helm-operator-migration/#added-su

[2022-11-07 14:36] gunishmatta commented on #434
@makkes  Would love to work on this
Please assign it to me

[2022-11-14 11:49] makkes commented on #395
yes, it is.

[2022-11-14 12:03] enekofb opened #438 "notification controller as general purpose notification service beyond flux domain entitites"
We would like to use a notification controller as a general-purpose notification service to send non-flux domain events leveraging its capabilities.

We have found that the CRD spec [validates against flux-domain types](https://github.com/fluxcd/notification-controller/blob/c4377ceb51f0ed969aa3fac1c151189bfa18d7fc/api/v1beta1/reference_types.go#L26-L29) and an [issue exists](https://github.com/flu

[2022-11-14 15:01] pjbgf commented on #438
Thanks for sharing your thoughts @enekofb.

This ultimately would require a [RFC](https://github.com/fluxcd/flux2/tree/main/rfcs), but we can expand on the idea here with some of the maintainers and the overall community.

Would you be able to expand on how you would see this working and what specific use cases you have in mind?

[2022-11-15 00:04] havard024 opened #440 "Unable to trigger generic-hmac receiver"
Hi,

I'm trying to setup a generic-hmac receiver to receive webhooks from aws ECR when new images are pushed so I can trigger image update automation

For now I've setup a receiver

[code]

The receiver has been initialized

[code]

I'm trying to trigger the webhook manually using python without any luck

[code]

The response is 202 and only thing I can see in the notification controller logs is

[2022-11-16 14:00] kingdonb commented on #440
The log message at the end does not seem to be related to receivers:

https://github.com/fluxcd/notification-controller/blob/main/internal/server/event_handlers.go#L113

(It comes from the event handler, which is not related to the receiver)

It looks like the `Receiver` is `Ready` – the 202 indicates that the Receiver received your request, are you certain that it did not work? The effect of rece

[2022-11-16 14:32] makkes opened #441 "204 status in generic webhook is treated as error"
When a webhook configured through the `generic` or `generic-hmac` Provider returns an HTTP status of 204 an error is logged:

[code]

I think we should treat any 2xx status as error.

[2022-11-16 14:36] havard024 commented on #440
thanks for looking into this

I also agree that the log message should not be related to the receivers, but it gets triggered right after the hook is triggered 🤷

I changed the generic hmac receiver to reconcile flux-system git repository instead, push an empty commit up, trigger the webhook, but nothing except that mystical log message from notification controllers. In the end I run a manual flux

[2022-11-23 08:15] dimakyriakov opened #445 "Alerts duplicate error messages in slack channel"
**Problem:**
I created an alert to monitor all helmreleases in a specific namespace and it's making huge traffic of errors in a slack channel.
It duplicates errors every certain period and alerting despite no changes to helmreleases.

**Here is alert file:**
[code]

**Question:**
Is it possible to trigger an alert only if we made changes to helmrelease, not the status of an existing one?
Is it pos

[2022-11-23 09:55] dimakyriakov commented on #445
![image](https://user-images.githubusercontent.com/96116626/203517297-c3bcad14-8073-419e-9f20-b6be145a0e7e.png)
some of our helmreleases has error "reconciliation failed: install retries exhausted" and mostly we are ok with it
it would be nice to only get this error once when it appears

[2022-11-23 09:59] stefanprodan commented on #445
@dimakyriakov by design, error alerts are sent every 5 minutes until they are resolved. You can increase the internal with the -`--rate-limit-interval`, flags docs here https://fluxcd.io/flux/components/notification/options/

[2022-11-23 10:08] dimakyriakov commented on #445
thank you for response Guys, i will close the ticket

[2022-11-28 09:36] adberger commented on #382
@stefanprodan How could an implementation of this look like when using Grafana Annotations?
The summary field doesn't seem to be attached in https://github.com/fsequeira1/notification-controller/blob/main/internal/notifier/grafana.go or am I'm missing something?

Would be nice to show somehow from which cluster the annotations comes from.
We have a Flux Dashboards for multiple clusters and it's ve

[2022-11-30 08:51] developer-guy opened #447 "Add mastodon as a notification channel"
[Mastodon](https://joinmastodon.org) is free and open-source software for running self-hosted social networking services. There is a Go SDK of the Mastodon API[^1], so we can add Mastodon as a new notification channel.

Similar work has been done in the GoReleaser project[^2].

[^1]: https://github.com/mattn/go-mastodon
[^2]: https://github.com/goreleaser/goreleaser/pull/3567

/cc @dentrax